/* footer */

.pagination {  padding-left: 32px; display:flex; align-items:center; height:64px; font-size:14px; position:relative; }
.pagination ul { list-style:none; margin:0; padding:0; display:flex; align-items:center; }
.pagination li { margin-left:4px; }
.pagination li:first-of-type { margin-left:0; }
.pagination .next { margin-left:24px; }
.pagination a { display:flex; align-items:center; justify-content:center; text-decoration:none; border-radius:24px; width: 32px; height: 32px; color: $steel-400; font-weight:600; color:$steel; }
.pagination svg { width:24px; height:24px; display:block; fill: currentColor; }
.pagination .previous a, .pagination .next a { text-decoration:none; width: 48px; height: 48px; position:relative; transition: 1s all $curve; }
.pagination .previous a:before, .pagination .next a:before { content:''; height:40px; width:40px; background:#fff; box-shadow: 0 0 0 8px transparentize($steel,.9); border:1px solid $steel-250; border-radius: 48px; z-index:-1; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); pointer-events:none; }
.pagination .previous a:hover, .pagination .next a:hover { color: $blue; transition: .5s all $curve; }
.pagination .previous a:hover:before, .pagination .next a:hover:before { background: $blue-070; box-shadow: 0 0 0 8px transparentize($steel,.8); border-color:$blue; }
.pagination[data-total-pages="1"] a:before { background:$steel-t8; box-shadow:none; }
.pagination[data-total-pages="1"] a { pointer-events:none; border:none; color: $steel-250; color:#fff; border:none; background: $steel-100; }
.pagination .loc { white-space:nowrap; display:flex; align-items:center; padding-left:32px; padding-right:32px; }
.pagination .loc .page { padding-right:8px; }
.pagination .loc .of { padding-left:8px; }
.pagination input[type="search"] { box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05) inset; font-weight:600; border:1px solid transparentize($steel,.6); width:48px; height:36px; display:block; background:#fff; padding-left:8px; color:$brand-dark; }
.pagination input[type="search"]:focus { border-color: $blue ; background: $blue-045; }
.pagination input[type="search"]:valid:focus { border-color: $blue; }
.pagination input[type="search"]:valid { border-color:$steel-300; background: $steel-045; }
.pagination input[type="search"]:valid:hover { border-color:$blue; }
.pagination input[type="search"] { @include placeholder { opacity:0; color:$brand-dark-200; padding-left: 18px; } }


