
//  .ls-tight { @include ls6-tight-q3; }
//  .ls-loose { @include ls6-loose-q3; }

  // ---
  .f-headline {
    @include f-headline-q3;
  }
  .f-subheadline {
    @include f-subheadline-q3;
  }
  .f1 {
    @include f1-q3;
  }
  .f2 {
    @include f2-q3;
  }
  .f3 {
    @include f3-q3;
  }
  .f4 {
    @include f4-q3;
  }
  .f5 {
    @include f5-q3;
  }
  .f6 {
    @include f6-q3;
  }
  .f7 {
    @include f7-q3;
  }
  .f-small {
    @include f-small-q3;
  }

