.tp-grid-settings-container { margin-top:-48px; position:absolute; right:0; padding-right:24px; padding-bottom:16px; display:flex; align-items:center; @include f-small; display:flex; }
.tp-grid-settings-container a svg { fill:currentColor; width:18px; height:18px; margin-right:.5rem; opacity:.75; } 
.tp-grid-settings-container a { height:32px; padding-left:8px; padding-right:8px; border-radius:2px; align-items:center; transition: .5s all $curve; justify-content:justify; display:flex; color:$brand-dark; margin-left:16px; text-decoration:none; }
.tp-grid-settings-container a:hover { color:$brand-dark; background:$steel-050; box-shadow: 0 0 0 1px $steel-150; }

