
$q0:  450px;
$q-:  450px;
$q1:  600px;
$q1-: 750px;
$q2:  900px;
$q2-: 1050px;
$q3:  1200px;
$q3-: 1350px;
$q4:  1500px;


@mixin q- {
	@media (min-width:$q-) {
		@content
	}
}


@mixin q- {
	@media (min-width:$q-) {
		@content
	}
}

@mixin q1 {
	@media (min-width:$q1) {
		@content
	}
}
@mixin q1- {
	@media (min-width:$q1-) {
		@content
	}
}

@mixin q2 {
	@media (min-width:$q2) {
		@content
	}
}

@mixin q2- {
	@media (min-width:$q2-) {
		@content
	}
}

@mixin q3 {
	@media (min-width:$q3) {
		@content
	}
}

@mixin q3- {
	@media (min-width:$q3-) {
		@content
	}
}


@mixin q4 {
	@media (min-width:$q4) {
		@content
	}
}





