@mixin top-0    { top:    0; }
@mixin right-0  { right:  0; }
@mixin bottom-0 { bottom: 0; }
@mixin left-0   { left:   0; }

@mixin top-1    { top:    $sp1; }
@mixin right-1  { right:  $sp1; }
@mixin bottom-1 { bottom: $sp1; }
@mixin left-1   { left:   $sp1; }

@mixin top-2    { top:    $sp2; }
@mixin right-2  { right:  $sp2; }
@mixin bottom-2 { bottom: $sp2; }
@mixin left-2   { left:   $sp2; }

@mixin top-3    { top:    $sp3; }
@mixin right-3  { right:  $sp3; }
@mixin bottom-3 { bottom: $sp3; }
@mixin left-3   { left:   $sp3; }

@mixin top-4    { top:    $sp4; }
@mixin right-4  { right:  $sp4; }
@mixin bottom-4 { bottom: $sp4; }
@mixin left-4   { left:   $sp4; }


@mixin top--1    { top:    -$sp1; }
@mixin right--1  { right:  -$sp1; }
@mixin bottom--1 { bottom: -$sp1; }
@mixin left--1   { left:   -$sp1; }

@mixin top--2    { top:    -$sp2; }
@mixin right--2  { right:  -$sp2; }
@mixin bottom--2 { bottom: -$sp2; }
@mixin left--2   { left:   -$sp2; }

@mixin top--3    { top:    -$sp3; }
@mixin right--3  { right:  -$sp3; }
@mixin bottom--3 { bottom: -$sp3; }
@mixin left--3   { left:   -$sp3; }

@mixin top--4    { top:    -$sp4; }
@mixin right--4  { right:  -$sp4; }
@mixin bottom--4 { bottom: -$sp4; }
@mixin left--4   { left:   -$sp4; }


@mixin absolute--fill { 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 }


