.dn {
  @include dn;
}
.di {
  @include di;
}
.db {
  @include db;
}
.dib {
  @include dib;
}
.dit {
  @include dit;
}
.dt {
  @include dt;
}
.dtc {
  @include dtc;
}
.dt-row {
  @include dt-row;
}
.dt-row-group {
  @include dt-row-group;
}
.dt-header-group {
  @include dt-header-group;
}
.dt-column {
  @include dt-column;
}
.dt-column-group {
  @include dt-column-group;
}

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed {
  @include dt--fixed;
}

