@mixin dn {
  display: none;
}
@mixin di {
  display: inline;
}
@mixin db {
  display: block;
}
@mixin dib {
  display: inline-block;
}
@mixin dit {
  display: inline-table;
}
@mixin dt {
  display: table;
}
@mixin dtc {
  display: table-cell;
}
@mixin dt-row {
  display: table-row;
}
@mixin dt-row-group {
  display: table-row-group;
}
@mixin dt-header-group {
  display: table-header-group;
}
@mixin dt-column {
  display: table-column;
}
@mixin dt-column-group {
  display: table-column-group;
}

@mixin dt--fixed {
  table-layout: fixed;
  width: 100%;
}

