/* mockup-menu */
.mockup-menu { position:fixed; right:32px; bottom:0; z-index:12; height:48px; width:800px; @include f-small; }
.mockup-menu ul { transition: 1s all $curve; opacity:0; max-height:0; overflow:hidden; left:0; right:0; position:absolute; bottom:0; display:flex; margin:0; padding:0; list-style:none; }
.mockup-menu li { flex: 1 1 auto; }
.mockup-menu a { padding:8px; margin-left:16px; background:$yellow; display:block; border-radius: 4px 4px 0 0; text-align:center; color:#000; font-weight:600; }
.mockup-menu a:hover { background:$yellow-600; }
.mockup-menu li.active a { text-decoration:none; background:#000; pointer-events:none; color:$yellow; }
.mockup-menu:hover ul { opacity:1; max-height:48px; overflow:visible; transition: .5s all $curve; }


