@mixin cf { 
	*zoom: 1; 
	&:before,
	&:after {
		content: " "; display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin cl { clear: left; }
@mixin cr { clear: right; }
@mixin cb { clear: both; }
@mixin cn { clear: none; }


