.measure { @include measure; }
.measure-wide { @include measure-wide; }
.measure-narrow { @include measure-narrow; }
.indent { @include indent; }
.small-caps { @include small-caps; }
.truncate { @include truncate; }

.fw1 { @include fw1; }
.fw2 { @include fw2; }
.fw3 { @include fw3; }
.fw4 { @include fw4; }
.fw5 { @include fw5; }
.fw6 { @include fw6; }
.fw7 { @include fw7; }


.f-small {
  font-size: 0.875rem; // 14px
  letter-spacing: 0.0844101563px;
}





