// var-measure
$measure: 30em !default;
$measure-narrow: 20em !default;
$measure-wide: 34em !default;

// var-line-height
$line-height-solid: 1 !default;
$line-height-title: 1.25 !default;
$line-height-copy: 1.5 !default;



@mixin measure { 
  max-width: $measure;
 }
@mixin measure-wide { 
  max-width: $measure-wide;
 }
@mixin measure-narrow { 
  max-width: $measure-narrow;
 }
@mixin indent { 
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
 }
@mixin small-caps { 
  font-variant: small-caps;
 }
@mixin truncate { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

@mixin fw1 {
	font-weight: 100;
}
@mixin fw2 {
	font-weight: 200;
}
@mixin fw3 {
	font-weight: 300;
}
@mixin fw4 {
	font-weight: 400;
}
@mixin fw5 {
	font-weight: 500;
}
@mixin fw6 {
	font-weight: 600;
}
@mixin fw7 {
	font-weight: 700;
}





