.docs-home {
  .masthead {
    .back {
      a {
        color:$blue;
        display:inline-block;
        text-decoration:none;
        @include noselect;
        margin-top:$sp4;
        margin-bottom:$sp4;
        padding-left:$sp2;
        padding-right:$sp2;
        border-radius: $sp4;
        height:40px;
        display:inline-flex;
        align-items:center;
        transition: .2s background $curve;
        background: $blue-050;
        &:hover {
          background:$blue-100;
        }
        &:active {
          background:$blue-150;
        }
      }
    }
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
  }
  .docs-main {
    display:table;
    margin-left:auto;
    margin-right:auto;
  }
  .docs-lockup {
    width:1200px;
    display:flex;
    box-shadow:  0 0 0 1px $steel-400;
    a {
      text-decoration:none;
      color:$blue-600;
      &:hover {
        text-decoration:underline;
      }
    }
  }
  .documentation {
    padding:$sp2;
    padding:$sp2 $sp6 $sp2 $sp2;
    flex:1 1 400px;
  }
  .mockups {
    background:#eee;
    padding:$sp2;
    flex:1 1 200px;
    li {
      margin-top:$sp2;
    }
  }
  .level2 {
    margin-left:$sp4;
  }
  .level3 {
    margin-left:$sp8;
  }
  .level4 {
    margin-left:$sp12;
  }
}
.docs-page { 
  main {
    padding-bottom:200px;
  }
  main p {
    margin-top:$sp3;
    &:first-child {
      margin-top:0;
    }
  }
  .masthead {
    .back {
      a {
        color:$blue;
        display:inline-block;
        text-decoration:none;
        @include noselect;
        margin-top:$sp4;
        margin-bottom:$sp4;
        padding-left:$sp2;
        padding-right:$sp2;
        border-radius: $sp4;
        height:40px;
        display:inline-flex;
        align-items:center;
        transition: .2s background $curve;
        background: $blue-050;
        &:hover {
          background:$blue-100;
        }
        &:active {
          background:$blue-150;
        }
      }
    }
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
  }
  main {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
  }
  h1 {
    @include brand-dark;
    @include f1;
    font-weight:600;
    margin-bottom:$sp4;
  }
  .docs-main {
    display:table;
    margin-left:auto;
    margin-right:auto;
  }

  .expected {
    border:1px solid $steel-300;
    border-radius: 2px;
    padding:$sp2;
    &:before {
      @include f6;
      font-weight:600;
      @include ttu;
      content:'Expected look and feel:';
      display:block;
      margin-bottom:$sp2;
    }
  }
  .ba-cols, .ba-rows, .ba-note {
    .content {
      padding-left:$sp3;
      padding-right:$sp3;
      padding-bottom:$sp3;
      li {
        margin-top:$sp2;
      }
    }
    .before, .after, .item {
      border:2px solid $red-400;
      flex: 1 1 200px;
      .image {
        display:flex;
        align-items:center;
        justify-content:center;
        img {
          display:block;
        }
      }
      .label {
        text-align:center;
        @include f5;
        font-weight:600;
        height:48px;
        display:flex;
        justify-content:center;
        align-items:center;
        color:#fff;
      }
    }
    .before {
      border-color:$red-400;
      .label {
        background:$red-400;
      }
      .content {
        a {
          color:$red;
          font-weight: 600;
        }
      }
    }
    .after {
      border-color:$green;
      a {
        color:$green-600;
        font-weight:600;
      }
      .label {
        background: $green;
      }
    }
    .item {
      border-color:$purple-400;
      a {
        color:$purple-400;
        font-weight:600;
      }
      .label {
        background: $purple-400;
      }

    }
  }
  .ba-note .content {
    padding-top:$sp3;
    max-width:$sp100;
  }
  .ba-cols {
    display:flex;
    margin-left:-$sp4;
    .image {
      min-height:200px;
      padding:$sp2;
    }
    .before, .after {
      margin-left:$sp4;

    }

  }
  .ba-rows {
    .content {
      max-width:$sp100;
    }
    .image {
      padding:$sp3;
      min-height:200px;
    }

    .before {
      margin-bottom:$sp4;
    }


  }
}
