@mixin f-headline {
  font-size: var(--fs-headline);
  line-height: var(--lh-headline);
  letter-spacing: var(--ls-headline);
}
@mixin f-subheadline {
  font-size: var(--fs-subheadline);
  line-height: var(--lh-subheadline);
  letter-spacing: var(--ls-subheadline);
}
@mixin f1 {
  font-size: var(--fs1);
  line-height: var(--lh1);
  letter-spacing: var(--ls1);
}
@mixin f2 {
  font-size: var(--fs2);
  line-height: var(--lh2);
  letter-spacing: var(--ls2);
}
@mixin f3 {
  font-size: var(--fs3);
  line-height: var(--lh3);
  letter-spacing: var(--ls3);
}
@mixin f4 {
  font-size: var(--fs4);
  line-height: var(--lh4);
  letter-spacing: var(--ls4);
}
@mixin f5 {
  font-size: var(--fs5);
  line-height: var(--lh5);
  letter-spacing: var(--ls5);
}
@mixin f6 {
  font-size: var(--fs6);
  line-height: var(--lh6);
  letter-spacing: var(--ls6);
}
@mixin f7 {
  font-size: var(--fs7);
  line-height: var(--lh7);
  letter-spacing: var(--ls7);
}
@mixin f-small {
  font-size: var(--fs-small);
  line-height: var(--lh-small);
  letter-spacing: var(--ls-small);
}
@mixin fs-headline {
  font-size: var(--fs-headline);
}
@mixin fs-subheadline {
  font-size: var(--fs-subheadline);
}
@mixin fs1 {
  font-size: var(--fs1);
}
@mixin fs2 {
  font-size: var(--fs2);
}
@mixin fs3 {
  font-size: var(--fs3);
}
@mixin fs4 {
  font-size: var(--fs4);
}
@mixin fs5 {
  font-size: var(--fs5);
}
@mixin fs6 {
  font-size: var(--fs6);
}
@mixin fs7 {
  font-size: var(--fs7);
}
@mixin fs-small {
  font-size: var(--fs-small);
}

@mixin lh-headline {
  line-height: var(--lh-headline);
}
@mixin lh-subheadline {
  line-height: var(--lh-subheadline);
}
@mixin lh1 {
  line-height: var(--lh1);
}
@mixin lh2 {
  line-height: var(--lh2);
}
@mixin lh3 {
  line-height: var(--lh3);
}
@mixin lh4 {
  line-height: var(--lh4);
}
@mixin lh5 {
  line-height: var(--lh5);
}
@mixin lh6 {
  line-height: var(--lh6);
}
@mixin lh7 {
  line-height: var(--lh7);
}
@mixin lh-small {
  line-height: var(--lh-small);
}


@mixin ls-headline {
  letter-spacing: var(--ls-headline);
}
@mixin ls-subheadline {
  letter-spacing: var(--ls-subheadline);
}
@mixin ls1 {
  letter-spacing: var(--ls1);
}
@mixin ls2 {
  letter-spacing: var(--ls2);
}
@mixin ls3 {
  letter-spacing: var(--ls3);
}
@mixin ls4 {
  letter-spacing: var(--ls4);
}
@mixin ls5 {
  letter-spacing: var(--ls5);
}
@mixin ls6 {
  letter-spacing: var(--ls6);
}
@mixin ls7 {
  letter-spacing: var(--ls7);
}
@mixin ls-small {
  letter-spacing: var(--ls-small);
}


