// font-size (fs)
// $x: 1.173160709 (the amount of increase between each increment)

$fs-headline: 3.440765605rem;       // = $fs-subheadline * $x = 55.05224969px
$fs-subheadline: 2.932902183rem;    // = $fs1 * $x            = 46.92643493px
$fs1: 2.50000035rem;                // = $fs2 * $x            = 40.0000056px
$fs2: 2.130995635rem;               // = $fs3 * $x            = 34.09593015px
$fs3: 1.816456704rem;               // = $fs4 * $x            = 29.06330726px
$fs4: 1.548344306rem;               // = $fs5 * $x            = 24.77350889px
$fs5: 1.319805798rem;               // = $fs6 * $x            = 21.11689276px
$fs6: 1.125rem;                     // = 18px
$fs7: 1rem;                         // = 16px
$fs-small: 0.875rem;                // = 14px

// line-height (lh)
// $x: 1.049388108 (the amount of increase between each increment)

$lh-headline: 1.070380751;          // = $lh-subheadline * $x = 58.9269px
$lh-subheadline: 1.123244831;       // = $lh1 * $x            = 52.7099px
$lh1: 1.178719769;                  // = $lh2 * $x            = 47.1488px
$lh2: 1.236934508;                  // = $lh3 * $x            = 42.1744px
$lh3: 1.298024363;                  // = $lh4 * $x            = 37.7249px
$lh4: 1.362131331;                  // = $lh5 * $x            = 33.7448px
$lh5: 1.42940442;                   // = $lh6 * $x            = 30.1846px
$lh6: 1.3333333333;                 // = 24px
$lh7: 1.5;                          // = 24px
$lh-small: 1.4285714286;            // = 20px

// letter-spacing (ls)
// (harder to demonstrate calculations here; but incrementing is consistent)

$ls-headline: -0.1105748517rem;     // = -1.769197627px
$ls-subheadline: -0.04747229868rem; // = -0.7595567788px
$ls1: -0.0203809375rem;             // = -0.326095px
$ls2: -0.00875rem;                  // = -0.14px
$ls3: 0.0005625rem;                 // = 0.009px
$ls4: 0.001310203125rem;            // = 0.02096325px
$ls5: 0.003051790629rem;            // = 0.04882865006px
$ls6: 0.007108383325rem;            // = 0.1137341332px
$ls7: 0.01655720186rem;             // = 0.2649152297px
$ls-small: 0.01655720186rem;        // = 0.2649152297px

