@mixin dim {
  opacity: 1;
  transition: opacity 0.15s ease-in;
  &:hover,
  &:focus {
    opacity: 0.5;
    transition: opacity 0.15s ease-in;
  }
  &:active {
    opacity: 0.8;
    transition: opacity 0.15s ease-out;
  }
}
@mixin glow {
  transition: opacity 0.15s ease-in;
  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.15s ease-in;
  }
}
@mixin hide-child {
  .child {
    opacity: 0;
    transition: opacity 0.15s ease-in;
  }
  &:hover .child,
  &:focus .child,
  &:active .child {
    opacity: 1;
    transition: opacity 0.15s ease-in;
  }
}
@mixin grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.9);
  }
}
@mixin grow-large {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.95);
  }
}
@mixin pointer {
  &:hover {
    cursor: pointer;
  }
}
@mixin shadow-hover {
  cursor: pointer;
  position: relative;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  &::after {
    content: '';
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
    border-radius: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}
@mixin bg-animate {
  &,
  &:hover,
  &:focus {
    transition: background-color 0.15s ease-in-out;
  }
}

