// var-border-width
$border-width-none: 0 !default;
$border-width-1: 1px !default;
$border-width-2: 2px !default;
$border-width-3: 3px !default;
$border-width-4: 4px !default;
$border-width-5: 5px !default;
$border-width-6: 6px !default;
$border-width-7: 7px !default;
$border-width-8: 8px !default;
$border-width-9: 9px !default;
$border-width-10: 10px !default;



@mixin bw0 { border-width: $border-width-none; }
@mixin bw1 { border-width: $border-width-1; }
@mixin bw2 { border-width: $border-width-2; }
@mixin bw3 { border-width: $border-width-3; }
@mixin bw4 { border-width: $border-width-4; }
@mixin bw5 { border-width: $border-width-5; }
@mixin bw6 { border-width: $border-width-6; }
@mixin bw7 { border-width: $border-width-7; }
@mixin bw8 { border-width: $border-width-8; }
@mixin bw9 { border-width: $border-width-9; }
@mixin bw10 { border-width: $border-width-10; }


@mixin bt-0 { border-top-width: $border-width-none }
@mixin br-0 { border-right-width: $border-width-none }
@mixin bb-0 { border-bottom-width: $border-width-none }
@mixin bl-0 { border-left-width: $border-width-none }


