// '_mix.scss'
// '_css.scss'

@mixin brand-dark { color: var(--brand-dark); }
@mixin bg-brand-dark { background: var(--brand-dark); }
@mixin hover-brand-dark { &:hover, &:focus { color: var(--brand-dark); } }
@mixin hover-bg-brand-dark { &:hover, &:focus { background: var(--brand-dark); } }
@mixin b--brand-dark { border-color: var(--brand-dark); }

@mixin brand-light { color: var(--brand-light); }
@mixin bg-brand-light { background: var(--brand-light); }
@mixin hover-brand-light { &:hover, &:focus { color: var(--brand-light); } }
@mixin hover-bg-brand-light { &:hover, &:focus { background: var(--brand-light); } }
@mixin b--brand-light { border-color: var(--brand-light); }

@mixin blue { color: var(--blue); }
@mixin bg-blue { background: var(--blue); }
@mixin hover-blue { &:hover, &:focus { color: var(--blue); } }
@mixin hover-bg-blue { &:hover, &:focus { background: var(--blue); } }
@mixin b--blue { border-color: var(--blue); }

@mixin red { color: var(--red); }
@mixin bg-red { background: var(--red); }
@mixin hover-red { &:hover, &:focus { color: var(--red); } }
@mixin hover-bg-red { &:hover, &:focus { background: var(--red); } }
@mixin b--red { border-color: var(--red); }

@mixin orange { color: var(--orange); }
@mixin bg-orange { background: var(--orange); }
@mixin hover-orange { &:hover, &:focus { color: var(--orange); } }
@mixin hover-bg-orange { &:hover, &:focus { background: var(--orange); } }
@mixin b--orange { border-color: var(--orange); }

@mixin green { color: var(--green); }
@mixin bg-green { background: var(--green); }
@mixin hover-green { &:hover, &:focus { color: var(--green); } }
@mixin hover-bg-green { &:hover, &:focus { background: var(--green); } }
@mixin b--green { border-color: var(--green); }

@mixin purple { color: var(--purple); }
@mixin bg-purple { background: var(--purple); }
@mixin hover-purple { &:hover, &:focus { color: var(--purple); } }
@mixin hover-bg-purple { &:hover, &:focus { background: var(--purple); } }
@mixin b--purple { border-color: var(--purple); }

@mixin yellow { color: var(--yellow); }
@mixin bg-yellow { background: var(--yellow); }
@mixin hover-yellow { &:hover, &:focus { color: var(--yellow); } }
@mixin hover-bg-yellow { &:hover, &:focus { background: var(--yellow); } }
@mixin b--yellow { border-color: var(--yellow); }

@mixin steel { color: var(--steel); }
@mixin bg-steel { background: var(--steel); }
@mixin hover-steel { &:hover, &:focus { color: var(--steel); } }
@mixin hover-bg-steel { &:hover, &:focus { background: var(--steel); } }
@mixin b--steel { border-color: var(--steel); }

@mixin grey { color: var(--grey); }
@mixin bg-grey { background: var(--grey); }
@mixin hover-grey { &:hover, &:focus { color: var(--grey); } }
@mixin hover-bg-grey { &:hover, &:focus { background: var(--grey); } }
@mixin b--grey { border-color: var(--grey); }

@mixin white { color: var(--white); }
@mixin bg-white { background: var(--white); }
@mixin hover-white { &:hover, &:focus { color: var(--white); } }
@mixin hover-bg-white { &:hover, &:focus { background: var(--white); } }
@mixin b--white { border-color: var(--white); }

@mixin black { color: var(--black); }
@mixin bg-black { background: var(--black); }
@mixin hover-black { &:hover, &:focus { color: var(--black); } }
@mixin hover-bg-black { &:hover, &:focus { background: var(--black); } }
@mixin b--black { border-color: var(--black); }

@mixin transparent { color: var(--transparent); }
@mixin bg-transparent { background: var(--transparent); }
@mixin hover-transparent { &:hover, &:focus { color: var(--transparent); } }
@mixin hover-bg-transparent { &:hover, &:focus { background: var(--transparent); } }
@mixin b--transparent { border-color: var(--transparent); }

@mixin brand-dark-100 { color: var(--brand-dark-100); }
@mixin bg-brand-dark-100 { background: var(--brand-dark-100); }
@mixin hover-brand-dark-100 { &:hover, &:focus { color: var(--brand-dark-100); } }
@mixin hover-bg-brand-dark-100 { &:hover, &:focus { background: var(--brand-dark-100); } }
@mixin b--brand-dark-100 { border-color: var(--brand-dark-100); }

@mixin brand-dark-200 { color: var(--brand-dark-200); }
@mixin bg-brand-dark-200 { background: var(--brand-dark-200); }
@mixin hover-brand-dark-200 { &:hover, &:focus { color: var(--brand-dark-200); } }
@mixin hover-bg-brand-dark-200 { &:hover, &:focus { background: var(--brand-dark-200); } }
@mixin b--brand-dark-200 { border-color: var(--brand-dark-200); }

@mixin brand-dark-300 { color: var(--brand-dark-300); }
@mixin bg-brand-dark-300 { background: var(--brand-dark-300); }
@mixin hover-brand-dark-300 { &:hover, &:focus { color: var(--brand-dark-300); } }
@mixin hover-bg-brand-dark-300 { &:hover, &:focus { background: var(--brand-dark-300); } }
@mixin b--brand-dark-300 { border-color: var(--brand-dark-300); }

@mixin brand-dark-400 { color: var(--brand-dark-400); }
@mixin bg-brand-dark-400 { background: var(--brand-dark-400); }
@mixin hover-brand-dark-400 { &:hover, &:focus { color: var(--brand-dark-400); } }
@mixin hover-bg-brand-dark-400 { &:hover, &:focus { background: var(--brand-dark-400); } }
@mixin b--brand-dark-400 { border-color: var(--brand-dark-400); }

@mixin brand-dark { color: var(--brand-dark); }
@mixin bg-brand-dark { background: var(--brand-dark); }
@mixin hover-brand-dark { &:hover, &:focus { color: var(--brand-dark); } }
@mixin hover-bg-brand-dark { &:hover, &:focus { background: var(--brand-dark); } }
@mixin b--brand-dark { border-color: var(--brand-dark); }

@mixin brand-dark-600 { color: var(--brand-dark-600); }
@mixin bg-brand-dark-600 { background: var(--brand-dark-600); }
@mixin hover-brand-dark-600 { &:hover, &:focus { color: var(--brand-dark-600); } }
@mixin hover-bg-brand-dark-600 { &:hover, &:focus { background: var(--brand-dark-600); } }
@mixin b--brand-dark-600 { border-color: var(--brand-dark-600); }

@mixin brand-dark-700 { color: var(--brand-dark-700); }
@mixin bg-brand-dark-700 { background: var(--brand-dark-700); }
@mixin hover-brand-dark-700 { &:hover, &:focus { color: var(--brand-dark-700); } }
@mixin hover-bg-brand-dark-700 { &:hover, &:focus { background: var(--brand-dark-700); } }
@mixin b--brand-dark-700 { border-color: var(--brand-dark-700); }

@mixin brand-dark-800 { color: var(--brand-dark-800); }
@mixin bg-brand-dark-800 { background: var(--brand-dark-800); }
@mixin hover-brand-dark-800 { &:hover, &:focus { color: var(--brand-dark-800); } }
@mixin hover-bg-brand-dark-800 { &:hover, &:focus { background: var(--brand-dark-800); } }
@mixin b--brand-dark-800 { border-color: var(--brand-dark-800); }

@mixin brand-dark-900 { color: var(--brand-dark-900); }
@mixin bg-brand-dark-900 { background: var(--brand-dark-900); }
@mixin hover-brand-dark-900 { &:hover, &:focus { color: var(--brand-dark-900); } }
@mixin hover-bg-brand-dark-900 { &:hover, &:focus { background: var(--brand-dark-900); } }
@mixin b--brand-dark-900 { border-color: var(--brand-dark-900); }

@mixin brand-light-100 { color: var(--brand-light-100); }
@mixin bg-brand-light-100 { background: var(--brand-light-100); }
@mixin hover-brand-light-100 { &:hover, &:focus { color: var(--brand-light-100); } }
@mixin hover-bg-brand-light-100 { &:hover, &:focus { background: var(--brand-light-100); } }
@mixin b--brand-light-100 { border-color: var(--brand-light-100); }

@mixin brand-light-200 { color: var(--brand-light-200); }
@mixin bg-brand-light-200 { background: var(--brand-light-200); }
@mixin hover-brand-light-200 { &:hover, &:focus { color: var(--brand-light-200); } }
@mixin hover-bg-brand-light-200 { &:hover, &:focus { background: var(--brand-light-200); } }
@mixin b--brand-light-200 { border-color: var(--brand-light-200); }

@mixin brand-light-300 { color: var(--brand-light-300); }
@mixin bg-brand-light-300 { background: var(--brand-light-300); }
@mixin hover-brand-light-300 { &:hover, &:focus { color: var(--brand-light-300); } }
@mixin hover-bg-brand-light-300 { &:hover, &:focus { background: var(--brand-light-300); } }
@mixin b--brand-light-300 { border-color: var(--brand-light-300); }

@mixin brand-light-400 { color: var(--brand-light-400); }
@mixin bg-brand-light-400 { background: var(--brand-light-400); }
@mixin hover-brand-light-400 { &:hover, &:focus { color: var(--brand-light-400); } }
@mixin hover-bg-brand-light-400 { &:hover, &:focus { background: var(--brand-light-400); } }
@mixin b--brand-light-400 { border-color: var(--brand-light-400); }

@mixin brand-light { color: var(--brand-light); }
@mixin bg-brand-light { background: var(--brand-light); }
@mixin hover-brand-light { &:hover, &:focus { color: var(--brand-light); } }
@mixin hover-bg-brand-light { &:hover, &:focus { background: var(--brand-light); } }
@mixin b--brand-light { border-color: var(--brand-light); }

@mixin brand-light-600 { color: var(--brand-light-600); }
@mixin bg-brand-light-600 { background: var(--brand-light-600); }
@mixin hover-brand-light-600 { &:hover, &:focus { color: var(--brand-light-600); } }
@mixin hover-bg-brand-light-600 { &:hover, &:focus { background: var(--brand-light-600); } }
@mixin b--brand-light-600 { border-color: var(--brand-light-600); }

@mixin brand-light-700 { color: var(--brand-light-700); }
@mixin bg-brand-light-700 { background: var(--brand-light-700); }
@mixin hover-brand-light-700 { &:hover, &:focus { color: var(--brand-light-700); } }
@mixin hover-bg-brand-light-700 { &:hover, &:focus { background: var(--brand-light-700); } }
@mixin b--brand-light-700 { border-color: var(--brand-light-700); }

@mixin brand-light-800 { color: var(--brand-light-800); }
@mixin bg-brand-light-800 { background: var(--brand-light-800); }
@mixin hover-brand-light-800 { &:hover, &:focus { color: var(--brand-light-800); } }
@mixin hover-bg-brand-light-800 { &:hover, &:focus { background: var(--brand-light-800); } }
@mixin b--brand-light-800 { border-color: var(--brand-light-800); }

@mixin brand-light-900 { color: var(--brand-light-900); }
@mixin bg-brand-light-900 { background: var(--brand-light-900); }
@mixin hover-brand-light-900 { &:hover, &:focus { color: var(--brand-light-900); } }
@mixin hover-bg-brand-light-900 { &:hover, &:focus { background: var(--brand-light-900); } }
@mixin b--brand-light-900 { border-color: var(--brand-light-900); }

@mixin blue-100 { color: var(--blue-100); }
@mixin bg-blue-100 { background: var(--blue-100); }
@mixin hover-blue-100 { &:hover, &:focus { color: var(--blue-100); } }
@mixin hover-bg-blue-100 { &:hover, &:focus { background: var(--blue-100); } }
@mixin b--blue-100 { border-color: var(--blue-100); }

@mixin blue-200 { color: var(--blue-200); }
@mixin bg-blue-200 { background: var(--blue-200); }
@mixin hover-blue-200 { &:hover, &:focus { color: var(--blue-200); } }
@mixin hover-bg-blue-200 { &:hover, &:focus { background: var(--blue-200); } }
@mixin b--blue-200 { border-color: var(--blue-200); }

@mixin blue-300 { color: var(--blue-300); }
@mixin bg-blue-300 { background: var(--blue-300); }
@mixin hover-blue-300 { &:hover, &:focus { color: var(--blue-300); } }
@mixin hover-bg-blue-300 { &:hover, &:focus { background: var(--blue-300); } }
@mixin b--blue-300 { border-color: var(--blue-300); }

@mixin blue-400 { color: var(--blue-400); }
@mixin bg-blue-400 { background: var(--blue-400); }
@mixin hover-blue-400 { &:hover, &:focus { color: var(--blue-400); } }
@mixin hover-bg-blue-400 { &:hover, &:focus { background: var(--blue-400); } }
@mixin b--blue-400 { border-color: var(--blue-400); }

@mixin blue { color: var(--blue); }
@mixin bg-blue { background: var(--blue); }
@mixin hover-blue { &:hover, &:focus { color: var(--blue); } }
@mixin hover-bg-blue { &:hover, &:focus { background: var(--blue); } }
@mixin b--blue { border-color: var(--blue); }

@mixin blue-600 { color: var(--blue-600); }
@mixin bg-blue-600 { background: var(--blue-600); }
@mixin hover-blue-600 { &:hover, &:focus { color: var(--blue-600); } }
@mixin hover-bg-blue-600 { &:hover, &:focus { background: var(--blue-600); } }
@mixin b--blue-600 { border-color: var(--blue-600); }

@mixin blue-700 { color: var(--blue-700); }
@mixin bg-blue-700 { background: var(--blue-700); }
@mixin hover-blue-700 { &:hover, &:focus { color: var(--blue-700); } }
@mixin hover-bg-blue-700 { &:hover, &:focus { background: var(--blue-700); } }
@mixin b--blue-700 { border-color: var(--blue-700); }

@mixin blue-800 { color: var(--blue-800); }
@mixin bg-blue-800 { background: var(--blue-800); }
@mixin hover-blue-800 { &:hover, &:focus { color: var(--blue-800); } }
@mixin hover-bg-blue-800 { &:hover, &:focus { background: var(--blue-800); } }
@mixin b--blue-800 { border-color: var(--blue-800); }

@mixin blue-900 { color: var(--blue-900); }
@mixin bg-blue-900 { background: var(--blue-900); }
@mixin hover-blue-900 { &:hover, &:focus { color: var(--blue-900); } }
@mixin hover-bg-blue-900 { &:hover, &:focus { background: var(--blue-900); } }
@mixin b--blue-900 { border-color: var(--blue-900); }

@mixin red-100 { color: var(--red-100); }
@mixin bg-red-100 { background: var(--red-100); }
@mixin hover-red-100 { &:hover, &:focus { color: var(--red-100); } }
@mixin hover-bg-red-100 { &:hover, &:focus { background: var(--red-100); } }
@mixin b--red-100 { border-color: var(--red-100); }

@mixin red-200 { color: var(--red-200); }
@mixin bg-red-200 { background: var(--red-200); }
@mixin hover-red-200 { &:hover, &:focus { color: var(--red-200); } }
@mixin hover-bg-red-200 { &:hover, &:focus { background: var(--red-200); } }
@mixin b--red-200 { border-color: var(--red-200); }

@mixin red-300 { color: var(--red-300); }
@mixin bg-red-300 { background: var(--red-300); }
@mixin hover-red-300 { &:hover, &:focus { color: var(--red-300); } }
@mixin hover-bg-red-300 { &:hover, &:focus { background: var(--red-300); } }
@mixin b--red-300 { border-color: var(--red-300); }

@mixin red-400 { color: var(--red-400); }
@mixin bg-red-400 { background: var(--red-400); }
@mixin hover-red-400 { &:hover, &:focus { color: var(--red-400); } }
@mixin hover-bg-red-400 { &:hover, &:focus { background: var(--red-400); } }
@mixin b--red-400 { border-color: var(--red-400); }

@mixin red { color: var(--red); }
@mixin bg-red { background: var(--red); }
@mixin hover-red { &:hover, &:focus { color: var(--red); } }
@mixin hover-bg-red { &:hover, &:focus { background: var(--red); } }
@mixin b--red { border-color: var(--red); }

@mixin red-600 { color: var(--red-600); }
@mixin bg-red-600 { background: var(--red-600); }
@mixin hover-red-600 { &:hover, &:focus { color: var(--red-600); } }
@mixin hover-bg-red-600 { &:hover, &:focus { background: var(--red-600); } }
@mixin b--red-600 { border-color: var(--red-600); }

@mixin red-700 { color: var(--red-700); }
@mixin bg-red-700 { background: var(--red-700); }
@mixin hover-red-700 { &:hover, &:focus { color: var(--red-700); } }
@mixin hover-bg-red-700 { &:hover, &:focus { background: var(--red-700); } }
@mixin b--red-700 { border-color: var(--red-700); }

@mixin red-800 { color: var(--red-800); }
@mixin bg-red-800 { background: var(--red-800); }
@mixin hover-red-800 { &:hover, &:focus { color: var(--red-800); } }
@mixin hover-bg-red-800 { &:hover, &:focus { background: var(--red-800); } }
@mixin b--red-800 { border-color: var(--red-800); }

@mixin red-900 { color: var(--red-900); }
@mixin bg-red-900 { background: var(--red-900); }
@mixin hover-red-900 { &:hover, &:focus { color: var(--red-900); } }
@mixin hover-bg-red-900 { &:hover, &:focus { background: var(--red-900); } }
@mixin b--red-900 { border-color: var(--red-900); }

@mixin orange-100 { color: var(--orange-100); }
@mixin bg-orange-100 { background: var(--orange-100); }
@mixin hover-orange-100 { &:hover, &:focus { color: var(--orange-100); } }
@mixin hover-bg-orange-100 { &:hover, &:focus { background: var(--orange-100); } }
@mixin b--orange-100 { border-color: var(--orange-100); }

@mixin orange-200 { color: var(--orange-200); }
@mixin bg-orange-200 { background: var(--orange-200); }
@mixin hover-orange-200 { &:hover, &:focus { color: var(--orange-200); } }
@mixin hover-bg-orange-200 { &:hover, &:focus { background: var(--orange-200); } }
@mixin b--orange-200 { border-color: var(--orange-200); }

@mixin orange-300 { color: var(--orange-300); }
@mixin bg-orange-300 { background: var(--orange-300); }
@mixin hover-orange-300 { &:hover, &:focus { color: var(--orange-300); } }
@mixin hover-bg-orange-300 { &:hover, &:focus { background: var(--orange-300); } }
@mixin b--orange-300 { border-color: var(--orange-300); }

@mixin orange-400 { color: var(--orange-400); }
@mixin bg-orange-400 { background: var(--orange-400); }
@mixin hover-orange-400 { &:hover, &:focus { color: var(--orange-400); } }
@mixin hover-bg-orange-400 { &:hover, &:focus { background: var(--orange-400); } }
@mixin b--orange-400 { border-color: var(--orange-400); }

@mixin orange { color: var(--orange); }
@mixin bg-orange { background: var(--orange); }
@mixin hover-orange { &:hover, &:focus { color: var(--orange); } }
@mixin hover-bg-orange { &:hover, &:focus { background: var(--orange); } }
@mixin b--orange { border-color: var(--orange); }

@mixin orange-600 { color: var(--orange-600); }
@mixin bg-orange-600 { background: var(--orange-600); }
@mixin hover-orange-600 { &:hover, &:focus { color: var(--orange-600); } }
@mixin hover-bg-orange-600 { &:hover, &:focus { background: var(--orange-600); } }
@mixin b--orange-600 { border-color: var(--orange-600); }

@mixin orange-700 { color: var(--orange-700); }
@mixin bg-orange-700 { background: var(--orange-700); }
@mixin hover-orange-700 { &:hover, &:focus { color: var(--orange-700); } }
@mixin hover-bg-orange-700 { &:hover, &:focus { background: var(--orange-700); } }
@mixin b--orange-700 { border-color: var(--orange-700); }

@mixin orange-800 { color: var(--orange-800); }
@mixin bg-orange-800 { background: var(--orange-800); }
@mixin hover-orange-800 { &:hover, &:focus { color: var(--orange-800); } }
@mixin hover-bg-orange-800 { &:hover, &:focus { background: var(--orange-800); } }
@mixin b--orange-800 { border-color: var(--orange-800); }

@mixin orange-900 { color: var(--orange-900); }
@mixin bg-orange-900 { background: var(--orange-900); }
@mixin hover-orange-900 { &:hover, &:focus { color: var(--orange-900); } }
@mixin hover-bg-orange-900 { &:hover, &:focus { background: var(--orange-900); } }
@mixin b--orange-900 { border-color: var(--orange-900); }

@mixin green-100 { color: var(--green-100); }
@mixin bg-green-100 { background: var(--green-100); }
@mixin hover-green-100 { &:hover, &:focus { color: var(--green-100); } }
@mixin hover-bg-green-100 { &:hover, &:focus { background: var(--green-100); } }
@mixin b--green-100 { border-color: var(--green-100); }

@mixin green-200 { color: var(--green-200); }
@mixin bg-green-200 { background: var(--green-200); }
@mixin hover-green-200 { &:hover, &:focus { color: var(--green-200); } }
@mixin hover-bg-green-200 { &:hover, &:focus { background: var(--green-200); } }
@mixin b--green-200 { border-color: var(--green-200); }

@mixin green-300 { color: var(--green-300); }
@mixin bg-green-300 { background: var(--green-300); }
@mixin hover-green-300 { &:hover, &:focus { color: var(--green-300); } }
@mixin hover-bg-green-300 { &:hover, &:focus { background: var(--green-300); } }
@mixin b--green-300 { border-color: var(--green-300); }

@mixin green-400 { color: var(--green-400); }
@mixin bg-green-400 { background: var(--green-400); }
@mixin hover-green-400 { &:hover, &:focus { color: var(--green-400); } }
@mixin hover-bg-green-400 { &:hover, &:focus { background: var(--green-400); } }
@mixin b--green-400 { border-color: var(--green-400); }

@mixin green { color: var(--green); }
@mixin bg-green { background: var(--green); }
@mixin hover-green { &:hover, &:focus { color: var(--green); } }
@mixin hover-bg-green { &:hover, &:focus { background: var(--green); } }
@mixin b--green { border-color: var(--green); }

@mixin green-600 { color: var(--green-600); }
@mixin bg-green-600 { background: var(--green-600); }
@mixin hover-green-600 { &:hover, &:focus { color: var(--green-600); } }
@mixin hover-bg-green-600 { &:hover, &:focus { background: var(--green-600); } }
@mixin b--green-600 { border-color: var(--green-600); }

@mixin green-700 { color: var(--green-700); }
@mixin bg-green-700 { background: var(--green-700); }
@mixin hover-green-700 { &:hover, &:focus { color: var(--green-700); } }
@mixin hover-bg-green-700 { &:hover, &:focus { background: var(--green-700); } }
@mixin b--green-700 { border-color: var(--green-700); }

@mixin green-800 { color: var(--green-800); }
@mixin bg-green-800 { background: var(--green-800); }
@mixin hover-green-800 { &:hover, &:focus { color: var(--green-800); } }
@mixin hover-bg-green-800 { &:hover, &:focus { background: var(--green-800); } }
@mixin b--green-800 { border-color: var(--green-800); }

@mixin green-900 { color: var(--green-900); }
@mixin bg-green-900 { background: var(--green-900); }
@mixin hover-green-900 { &:hover, &:focus { color: var(--green-900); } }
@mixin hover-bg-green-900 { &:hover, &:focus { background: var(--green-900); } }
@mixin b--green-900 { border-color: var(--green-900); }

@mixin purple-100 { color: var(--purple-100); }
@mixin bg-purple-100 { background: var(--purple-100); }
@mixin hover-purple-100 { &:hover, &:focus { color: var(--purple-100); } }
@mixin hover-bg-purple-100 { &:hover, &:focus { background: var(--purple-100); } }
@mixin b--purple-100 { border-color: var(--purple-100); }

@mixin purple-200 { color: var(--purple-200); }
@mixin bg-purple-200 { background: var(--purple-200); }
@mixin hover-purple-200 { &:hover, &:focus { color: var(--purple-200); } }
@mixin hover-bg-purple-200 { &:hover, &:focus { background: var(--purple-200); } }
@mixin b--purple-200 { border-color: var(--purple-200); }

@mixin purple-300 { color: var(--purple-300); }
@mixin bg-purple-300 { background: var(--purple-300); }
@mixin hover-purple-300 { &:hover, &:focus { color: var(--purple-300); } }
@mixin hover-bg-purple-300 { &:hover, &:focus { background: var(--purple-300); } }
@mixin b--purple-300 { border-color: var(--purple-300); }

@mixin purple-400 { color: var(--purple-400); }
@mixin bg-purple-400 { background: var(--purple-400); }
@mixin hover-purple-400 { &:hover, &:focus { color: var(--purple-400); } }
@mixin hover-bg-purple-400 { &:hover, &:focus { background: var(--purple-400); } }
@mixin b--purple-400 { border-color: var(--purple-400); }

@mixin purple { color: var(--purple); }
@mixin bg-purple { background: var(--purple); }
@mixin hover-purple { &:hover, &:focus { color: var(--purple); } }
@mixin hover-bg-purple { &:hover, &:focus { background: var(--purple); } }
@mixin b--purple { border-color: var(--purple); }

@mixin purple-600 { color: var(--purple-600); }
@mixin bg-purple-600 { background: var(--purple-600); }
@mixin hover-purple-600 { &:hover, &:focus { color: var(--purple-600); } }
@mixin hover-bg-purple-600 { &:hover, &:focus { background: var(--purple-600); } }
@mixin b--purple-600 { border-color: var(--purple-600); }

@mixin purple-700 { color: var(--purple-700); }
@mixin bg-purple-700 { background: var(--purple-700); }
@mixin hover-purple-700 { &:hover, &:focus { color: var(--purple-700); } }
@mixin hover-bg-purple-700 { &:hover, &:focus { background: var(--purple-700); } }
@mixin b--purple-700 { border-color: var(--purple-700); }

@mixin purple-800 { color: var(--purple-800); }
@mixin bg-purple-800 { background: var(--purple-800); }
@mixin hover-purple-800 { &:hover, &:focus { color: var(--purple-800); } }
@mixin hover-bg-purple-800 { &:hover, &:focus { background: var(--purple-800); } }
@mixin b--purple-800 { border-color: var(--purple-800); }

@mixin purple-900 { color: var(--purple-900); }
@mixin bg-purple-900 { background: var(--purple-900); }
@mixin hover-purple-900 { &:hover, &:focus { color: var(--purple-900); } }
@mixin hover-bg-purple-900 { &:hover, &:focus { background: var(--purple-900); } }
@mixin b--purple-900 { border-color: var(--purple-900); }

@mixin yellow-100 { color: var(--yellow-100); }
@mixin bg-yellow-100 { background: var(--yellow-100); }
@mixin hover-yellow-100 { &:hover, &:focus { color: var(--yellow-100); } }
@mixin hover-bg-yellow-100 { &:hover, &:focus { background: var(--yellow-100); } }
@mixin b--yellow-100 { border-color: var(--yellow-100); }

@mixin yellow-200 { color: var(--yellow-200); }
@mixin bg-yellow-200 { background: var(--yellow-200); }
@mixin hover-yellow-200 { &:hover, &:focus { color: var(--yellow-200); } }
@mixin hover-bg-yellow-200 { &:hover, &:focus { background: var(--yellow-200); } }
@mixin b--yellow-200 { border-color: var(--yellow-200); }

@mixin yellow-300 { color: var(--yellow-300); }
@mixin bg-yellow-300 { background: var(--yellow-300); }
@mixin hover-yellow-300 { &:hover, &:focus { color: var(--yellow-300); } }
@mixin hover-bg-yellow-300 { &:hover, &:focus { background: var(--yellow-300); } }
@mixin b--yellow-300 { border-color: var(--yellow-300); }

@mixin yellow-400 { color: var(--yellow-400); }
@mixin bg-yellow-400 { background: var(--yellow-400); }
@mixin hover-yellow-400 { &:hover, &:focus { color: var(--yellow-400); } }
@mixin hover-bg-yellow-400 { &:hover, &:focus { background: var(--yellow-400); } }
@mixin b--yellow-400 { border-color: var(--yellow-400); }

@mixin yellow { color: var(--yellow); }
@mixin bg-yellow { background: var(--yellow); }
@mixin hover-yellow { &:hover, &:focus { color: var(--yellow); } }
@mixin hover-bg-yellow { &:hover, &:focus { background: var(--yellow); } }
@mixin b--yellow { border-color: var(--yellow); }

@mixin yellow-600 { color: var(--yellow-600); }
@mixin bg-yellow-600 { background: var(--yellow-600); }
@mixin hover-yellow-600 { &:hover, &:focus { color: var(--yellow-600); } }
@mixin hover-bg-yellow-600 { &:hover, &:focus { background: var(--yellow-600); } }
@mixin b--yellow-600 { border-color: var(--yellow-600); }

@mixin yellow-700 { color: var(--yellow-700); }
@mixin bg-yellow-700 { background: var(--yellow-700); }
@mixin hover-yellow-700 { &:hover, &:focus { color: var(--yellow-700); } }
@mixin hover-bg-yellow-700 { &:hover, &:focus { background: var(--yellow-700); } }
@mixin b--yellow-700 { border-color: var(--yellow-700); }

@mixin yellow-800 { color: var(--yellow-800); }
@mixin bg-yellow-800 { background: var(--yellow-800); }
@mixin hover-yellow-800 { &:hover, &:focus { color: var(--yellow-800); } }
@mixin hover-bg-yellow-800 { &:hover, &:focus { background: var(--yellow-800); } }
@mixin b--yellow-800 { border-color: var(--yellow-800); }

@mixin yellow-900 { color: var(--yellow-900); }
@mixin bg-yellow-900 { background: var(--yellow-900); }
@mixin hover-yellow-900 { &:hover, &:focus { color: var(--yellow-900); } }
@mixin hover-bg-yellow-900 { &:hover, &:focus { background: var(--yellow-900); } }
@mixin b--yellow-900 { border-color: var(--yellow-900); }

@mixin steel-100 { color: var(--steel-100); }
@mixin bg-steel-100 { background: var(--steel-100); }
@mixin hover-steel-100 { &:hover, &:focus { color: var(--steel-100); } }
@mixin hover-bg-steel-100 { &:hover, &:focus { background: var(--steel-100); } }
@mixin b--steel-100 { border-color: var(--steel-100); }

@mixin steel-200 { color: var(--steel-200); }
@mixin bg-steel-200 { background: var(--steel-200); }
@mixin hover-steel-200 { &:hover, &:focus { color: var(--steel-200); } }
@mixin hover-bg-steel-200 { &:hover, &:focus { background: var(--steel-200); } }
@mixin b--steel-200 { border-color: var(--steel-200); }

@mixin steel-300 { color: var(--steel-300); }
@mixin bg-steel-300 { background: var(--steel-300); }
@mixin hover-steel-300 { &:hover, &:focus { color: var(--steel-300); } }
@mixin hover-bg-steel-300 { &:hover, &:focus { background: var(--steel-300); } }
@mixin b--steel-300 { border-color: var(--steel-300); }

@mixin steel-400 { color: var(--steel-400); }
@mixin bg-steel-400 { background: var(--steel-400); }
@mixin hover-steel-400 { &:hover, &:focus { color: var(--steel-400); } }
@mixin hover-bg-steel-400 { &:hover, &:focus { background: var(--steel-400); } }
@mixin b--steel-400 { border-color: var(--steel-400); }

@mixin steel { color: var(--steel); }
@mixin bg-steel { background: var(--steel); }
@mixin hover-steel { &:hover, &:focus { color: var(--steel); } }
@mixin hover-bg-steel { &:hover, &:focus { background: var(--steel); } }
@mixin b--steel { border-color: var(--steel); }

@mixin steel-600 { color: var(--steel-600); }
@mixin bg-steel-600 { background: var(--steel-600); }
@mixin hover-steel-600 { &:hover, &:focus { color: var(--steel-600); } }
@mixin hover-bg-steel-600 { &:hover, &:focus { background: var(--steel-600); } }
@mixin b--steel-600 { border-color: var(--steel-600); }

@mixin steel-700 { color: var(--steel-700); }
@mixin bg-steel-700 { background: var(--steel-700); }
@mixin hover-steel-700 { &:hover, &:focus { color: var(--steel-700); } }
@mixin hover-bg-steel-700 { &:hover, &:focus { background: var(--steel-700); } }
@mixin b--steel-700 { border-color: var(--steel-700); }

@mixin steel-800 { color: var(--steel-800); }
@mixin bg-steel-800 { background: var(--steel-800); }
@mixin hover-steel-800 { &:hover, &:focus { color: var(--steel-800); } }
@mixin hover-bg-steel-800 { &:hover, &:focus { background: var(--steel-800); } }
@mixin b--steel-800 { border-color: var(--steel-800); }

@mixin steel-900 { color: var(--steel-900); }
@mixin bg-steel-900 { background: var(--steel-900); }
@mixin hover-steel-900 { &:hover, &:focus { color: var(--steel-900); } }
@mixin hover-bg-steel-900 { &:hover, &:focus { background: var(--steel-900); } }
@mixin b--steel-900 { border-color: var(--steel-900); }


@mixin grey-050 { color: var(--grey-050); }
@mixin bg-grey-050 { background: var(--grey-050); }
@mixin hover-grey-050 { &:hover, &:focus { color: var(--grey-050); } }
@mixin hover-bg-grey-050 { &:hover, &:focus { background: var(--grey-050); } }
@mixin b--grey-050 { border-color: var(--grey-050); }

@mixin grey-100 { color: var(--grey-100); }
@mixin bg-grey-100 { background: var(--grey-100); }
@mixin hover-grey-100 { &:hover, &:focus { color: var(--grey-100); } }
@mixin hover-bg-grey-100 { &:hover, &:focus { background: var(--grey-100); } }
@mixin b--grey-100 { border-color: var(--grey-100); }

@mixin grey-150 { color: var(--grey-150); }
@mixin bg-grey-150 { background: var(--grey-150); }
@mixin hover-grey-150 { &:hover, &:focus { color: var(--grey-150); } }
@mixin hover-bg-grey-150 { &:hover, &:focus { background: var(--grey-150); } }
@mixin b--grey-150 { border-color: var(--grey-150); }

@mixin grey-200 { color: var(--grey-200); }
@mixin bg-grey-200 { background: var(--grey-200); }
@mixin hover-grey-200 { &:hover, &:focus { color: var(--grey-200); } }
@mixin hover-bg-grey-200 { &:hover, &:focus { background: var(--grey-200); } }
@mixin b--grey-200 { border-color: var(--grey-200); }

@mixin grey-250 { color: var(--grey-250); }
@mixin bg-grey-250 { background: var(--grey-250); }
@mixin hover-grey-250 { &:hover, &:focus { color: var(--grey-250); } }
@mixin hover-bg-grey-250 { &:hover, &:focus { background: var(--grey-250); } }
@mixin b--grey-250 { border-color: var(--grey-250); }

@mixin grey-300 { color: var(--grey-300); }
@mixin bg-grey-300 { background: var(--grey-300); }
@mixin hover-grey-300 { &:hover, &:focus { color: var(--grey-300); } }
@mixin hover-bg-grey-300 { &:hover, &:focus { background: var(--grey-300); } }
@mixin b--grey-300 { border-color: var(--grey-300); }

@mixin grey-350 { color: var(--grey-350); }
@mixin bg-grey-350 { background: var(--grey-350); }
@mixin hover-grey-350 { &:hover, &:focus { color: var(--grey-350); } }
@mixin hover-bg-grey-350 { &:hover, &:focus { background: var(--grey-350); } }
@mixin b--grey-350 { border-color: var(--grey-350); }

@mixin grey-400 { color: var(--grey-400); }
@mixin bg-grey-400 { background: var(--grey-400); }
@mixin hover-grey-400 { &:hover, &:focus { color: var(--grey-400); } }
@mixin hover-bg-grey-400 { &:hover, &:focus { background: var(--grey-400); } }
@mixin b--grey-400 { border-color: var(--grey-400); }

@mixin grey-450 { color: var(--grey-450); }
@mixin bg-grey-450 { background: var(--grey-450); }
@mixin hover-grey-450 { &:hover, &:focus { color: var(--grey-450); } }
@mixin hover-bg-grey-450 { &:hover, &:focus { background: var(--grey-450); } }
@mixin b--grey-450 { border-color: var(--grey-450); }

@mixin grey { color: var(--grey); }
@mixin bg-grey { background: var(--grey); }
@mixin hover-grey { &:hover, &:focus { color: var(--grey); } }
@mixin hover-bg-grey { &:hover, &:focus { background: var(--grey); } }
@mixin b--grey { border-color: var(--grey); }

@mixin grey-550 { color: var(--grey-550); }
@mixin bg-grey-550 { background: var(--grey-550); }
@mixin hover-grey-550 { &:hover, &:focus { color: var(--grey-550); } }
@mixin hover-bg-grey-550 { &:hover, &:focus { background: var(--grey-550); } }
@mixin b--grey-550 { border-color: var(--grey-550); }

@mixin grey-600 { color: var(--grey-600); }
@mixin bg-grey-600 { background: var(--grey-600); }
@mixin hover-grey-600 { &:hover, &:focus { color: var(--grey-600); } }
@mixin hover-bg-grey-600 { &:hover, &:focus { background: var(--grey-600); } }
@mixin b--grey-600 { border-color: var(--grey-600); }

@mixin grey-650 { color: var(--grey-650); }
@mixin bg-grey-650 { background: var(--grey-650); }
@mixin hover-grey-650 { &:hover, &:focus { color: var(--grey-650); } }
@mixin hover-bg-grey-650 { &:hover, &:focus { background: var(--grey-650); } }
@mixin b--grey-650 { border-color: var(--grey-650); }

@mixin grey-700 { color: var(--grey-700); }
@mixin bg-grey-700 { background: var(--grey-700); }
@mixin hover-grey-700 { &:hover, &:focus { color: var(--grey-700); } }
@mixin hover-bg-grey-700 { &:hover, &:focus { background: var(--grey-700); } }
@mixin b--grey-700 { border-color: var(--grey-700); }

@mixin grey-750 { color: var(--grey-750); }
@mixin bg-grey-750 { background: var(--grey-750); }
@mixin hover-grey-750 { &:hover, &:focus { color: var(--grey-750); } }
@mixin hover-bg-grey-750 { &:hover, &:focus { background: var(--grey-750); } }
@mixin b--grey-750 { border-color: var(--grey-750); }

@mixin grey-800 { color: var(--grey-800); }
@mixin bg-grey-800 { background: var(--grey-800); }
@mixin hover-grey-800 { &:hover, &:focus { color: var(--grey-800); } }
@mixin hover-bg-grey-800 { &:hover, &:focus { background: var(--grey-800); } }
@mixin b--grey-800 { border-color: var(--grey-800); }

@mixin grey-850 { color: var(--grey-850); }
@mixin bg-grey-850 { background: var(--grey-850); }
@mixin hover-grey-850 { &:hover, &:focus { color: var(--grey-850); } }
@mixin hover-bg-grey-850 { &:hover, &:focus { background: var(--grey-850); } }
@mixin b--grey-850 { border-color: var(--grey-850); }

@mixin grey-900 { color: var(--grey-900); }
@mixin bg-grey-900 { background: var(--grey-900); }
@mixin hover-grey-900 { &:hover, &:focus { color: var(--grey-900); } }
@mixin hover-bg-grey-900 { &:hover, &:focus { background: var(--grey-900); } }
@mixin b--grey-900 { border-color: var(--grey-900); }

@mixin grey-950 { color: var(--grey-950); }
@mixin bg-grey-950 { background: var(--grey-950); }
@mixin hover-grey-950 { &:hover, &:focus { color: var(--grey-950); } }
@mixin hover-bg-grey-950 { &:hover, &:focus { background: var(--grey-950); } }
@mixin b--grey-950 { border-color: var(--grey-950); }


@mixin grey-t1 { color: var(--grey-t1); }
@mixin bg-grey-t1 { background: var(--grey-t1); }
@mixin hover-grey-t1 { &:hover, &:focus { color: var(--grey-t1); } }
@mixin hover-bg-grey-t1 { &:hover, &:focus { background: var(--grey-t1); } }
@mixin b--grey-t1 { border-color: var(--grey-t1); }

@mixin grey-t2 { color: var(--grey-t2); }
@mixin bg-grey-t2 { background: var(--grey-t2); }
@mixin hover-grey-t2 { &:hover, &:focus { color: var(--grey-t2); } }
@mixin hover-bg-grey-t2 { &:hover, &:focus { background: var(--grey-t2); } }
@mixin b--grey-t2 { border-color: var(--grey-t2); }

@mixin grey-t3 { color: var(--grey-t3); }
@mixin bg-grey-t3 { background: var(--grey-t3); }
@mixin hover-grey-t3 { &:hover, &:focus { color: var(--grey-t3); } }
@mixin hover-bg-grey-t3 { &:hover, &:focus { background: var(--grey-t3); } }
@mixin b--grey-t3 { border-color: var(--grey-t3); }

@mixin grey-t4 { color: var(--grey-t4); }
@mixin bg-grey-t4 { background: var(--grey-t4); }
@mixin hover-grey-t4 { &:hover, &:focus { color: var(--grey-t4); } }
@mixin hover-bg-grey-t4 { &:hover, &:focus { background: var(--grey-t4); } }
@mixin b--grey-t4 { border-color: var(--grey-t4); }

@mixin grey-t5 { color: var(--grey-t5); }
@mixin bg-grey-t5 { background: var(--grey-t5); }
@mixin hover-grey-t5 { &:hover, &:focus { color: var(--grey-t5); } }
@mixin hover-bg-grey-t5 { &:hover, &:focus { background: var(--grey-t5); } }
@mixin b--grey-t5 { border-color: var(--grey-t5); }

@mixin grey-t6 { color: var(--grey-t6); }
@mixin bg-grey-t6 { background: var(--grey-t6); }
@mixin hover-grey-t6 { &:hover, &:focus { color: var(--grey-t6); } }
@mixin hover-bg-grey-t6 { &:hover, &:focus { background: var(--grey-t6); } }
@mixin b--grey-t6 { border-color: var(--grey-t6); }

@mixin grey-t7 { color: var(--grey-t7); }
@mixin bg-grey-t7 { background: var(--grey-t7); }
@mixin hover-grey-t7 { &:hover, &:focus { color: var(--grey-t7); } }
@mixin hover-bg-grey-t7 { &:hover, &:focus { background: var(--grey-t7); } }
@mixin b--grey-t7 { border-color: var(--grey-t7); }

@mixin grey-t8 { color: var(--grey-t8); }
@mixin bg-grey-t8 { background: var(--grey-t8); }
@mixin hover-grey-t8 { &:hover, &:focus { color: var(--grey-t8); } }
@mixin hover-bg-grey-t8 { &:hover, &:focus { background: var(--grey-t8); } }
@mixin b--grey-t8 { border-color: var(--grey-t8); }

@mixin grey-t9 { color: var(--grey-t9); }
@mixin bg-grey-t9 { background: var(--grey-t9); }
@mixin hover-grey-t9 { &:hover, &:focus { color: var(--grey-t9); } }
@mixin hover-bg-grey-t9 { &:hover, &:focus { background: var(--grey-t9); } }
@mixin b--grey-t9 { border-color: var(--grey-t9); }

@mixin white-t1 { color: var(--white-t1); }
@mixin bg-white-t1 { background: var(--white-t1); }
@mixin hover-white-t1 { &:hover, &:focus { color: var(--white-t1); } }
@mixin hover-bg-white-t1 { &:hover, &:focus { background: var(--white-t1); } }
@mixin b--white-t1 { border-color: var(--white-t1); }

@mixin white-t2 { color: var(--white-t2); }
@mixin bg-white-t2 { background: var(--white-t2); }
@mixin hover-white-t2 { &:hover, &:focus { color: var(--white-t2); } }
@mixin hover-bg-white-t2 { &:hover, &:focus { background: var(--white-t2); } }
@mixin b--white-t2 { border-color: var(--white-t2); }

@mixin white-t3 { color: var(--white-t3); }
@mixin bg-white-t3 { background: var(--white-t3); }
@mixin hover-white-t3 { &:hover, &:focus { color: var(--white-t3); } }
@mixin hover-bg-white-t3 { &:hover, &:focus { background: var(--white-t3); } }
@mixin b--white-t3 { border-color: var(--white-t3); }

@mixin white-t4 { color: var(--white-t4); }
@mixin bg-white-t4 { background: var(--white-t4); }
@mixin hover-white-t4 { &:hover, &:focus { color: var(--white-t4); } }
@mixin hover-bg-white-t4 { &:hover, &:focus { background: var(--white-t4); } }
@mixin b--white-t4 { border-color: var(--white-t4); }

@mixin white-t5 { color: var(--white-t5); }
@mixin bg-white-t5 { background: var(--white-t5); }
@mixin hover-white-t5 { &:hover, &:focus { color: var(--white-t5); } }
@mixin hover-bg-white-t5 { &:hover, &:focus { background: var(--white-t5); } }
@mixin b--white-t5 { border-color: var(--white-t5); }

@mixin white-t6 { color: var(--white-t6); }
@mixin bg-white-t6 { background: var(--white-t6); }
@mixin hover-white-t6 { &:hover, &:focus { color: var(--white-t6); } }
@mixin hover-bg-white-t6 { &:hover, &:focus { background: var(--white-t6); } }
@mixin b--white-t6 { border-color: var(--white-t6); }

@mixin white-t7 { color: var(--white-t7); }
@mixin bg-white-t7 { background: var(--white-t7); }
@mixin hover-white-t7 { &:hover, &:focus { color: var(--white-t7); } }
@mixin hover-bg-white-t7 { &:hover, &:focus { background: var(--white-t7); } }
@mixin b--white-t7 { border-color: var(--white-t7); }

@mixin white-t8 { color: var(--white-t8); }
@mixin bg-white-t8 { background: var(--white-t8); }
@mixin hover-white-t8 { &:hover, &:focus { color: var(--white-t8); } }
@mixin hover-bg-white-t8 { &:hover, &:focus { background: var(--white-t8); } }
@mixin b--white-t8 { border-color: var(--white-t8); }

@mixin white-t9 { color: var(--white-t9); }
@mixin bg-white-t9 { background: var(--white-t9); }
@mixin hover-white-t9 { &:hover, &:focus { color: var(--white-t9); } }
@mixin hover-bg-white-t9 { &:hover, &:focus { background: var(--white-t9); } }
@mixin b--white-t9 { border-color: var(--white-t9); }

@mixin black-t1 { color: var(--black-t1); }
@mixin bg-black-t1 { background: var(--black-t1); }
@mixin hover-black-t1 { &:hover, &:focus { color: var(--black-t1); } }
@mixin hover-bg-black-t1 { &:hover, &:focus { background: var(--black-t1); } }
@mixin b--black-t1 { border-color: var(--black-t1); }

@mixin black-t2 { color: var(--black-t2); }
@mixin bg-black-t2 { background: var(--black-t2); }
@mixin hover-black-t2 { &:hover, &:focus { color: var(--black-t2); } }
@mixin hover-bg-black-t2 { &:hover, &:focus { background: var(--black-t2); } }
@mixin b--black-t2 { border-color: var(--black-t2); }

@mixin black-t3 { color: var(--black-t3); }
@mixin bg-black-t3 { background: var(--black-t3); }
@mixin hover-black-t3 { &:hover, &:focus { color: var(--black-t3); } }
@mixin hover-bg-black-t3 { &:hover, &:focus { background: var(--black-t3); } }
@mixin b--black-t3 { border-color: var(--black-t3); }

@mixin black-t4 { color: var(--black-t4); }
@mixin bg-black-t4 { background: var(--black-t4); }
@mixin hover-black-t4 { &:hover, &:focus { color: var(--black-t4); } }
@mixin hover-bg-black-t4 { &:hover, &:focus { background: var(--black-t4); } }
@mixin b--black-t4 { border-color: var(--black-t4); }

@mixin black-t5 { color: var(--black-t5); }
@mixin bg-black-t5 { background: var(--black-t5); }
@mixin hover-black-t5 { &:hover, &:focus { color: var(--black-t5); } }
@mixin hover-bg-black-t5 { &:hover, &:focus { background: var(--black-t5); } }
@mixin b--black-t5 { border-color: var(--black-t5); }

@mixin black-t6 { color: var(--black-t6); }
@mixin bg-black-t6 { background: var(--black-t6); }
@mixin hover-black-t6 { &:hover, &:focus { color: var(--black-t6); } }
@mixin hover-bg-black-t6 { &:hover, &:focus { background: var(--black-t6); } }
@mixin b--black-t6 { border-color: var(--black-t6); }

@mixin black-t7 { color: var(--black-t7); }
@mixin bg-black-t7 { background: var(--black-t7); }
@mixin hover-black-t7 { &:hover, &:focus { color: var(--black-t7); } }
@mixin hover-bg-black-t7 { &:hover, &:focus { background: var(--black-t7); } }
@mixin b--black-t7 { border-color: var(--black-t7); }

@mixin black-t8 { color: var(--black-t8); }
@mixin bg-black-t8 { background: var(--black-t8); }
@mixin hover-black-t8 { &:hover, &:focus { color: var(--black-t8); } }
@mixin hover-bg-black-t8 { &:hover, &:focus { background: var(--black-t8); } }
@mixin b--black-t8 { border-color: var(--black-t8); }

@mixin black-t9 { color: var(--black-t9); }
@mixin bg-black-t9 { background: var(--black-t9); }
@mixin hover-black-t9 { &:hover, &:focus { color: var(--black-t9); } }
@mixin hover-bg-black-t9 { &:hover, &:focus { background: var(--black-t9); } }
@mixin b--black-t9 { border-color: var(--black-t9); }

@mixin brand-dark-t2 { color: var(--brand-dark-t2); }
@mixin bg-brand-dark-t2 { background: var(--brand-dark-t2); }
@mixin hover-brand-dark-t2 { &:hover, &:focus { color: var(--brand-dark-t2); } }
@mixin hover-bg-brand-dark-t2 { &:hover, &:focus { background: var(--brand-dark-t2); } }
@mixin b--brand-dark-t2 { border-color: var(--brand-dark-t2); }

@mixin brand-dark-t4 { color: var(--brand-dark-t4); }
@mixin bg-brand-dark-t4 { background: var(--brand-dark-t4); }
@mixin hover-brand-dark-t4 { &:hover, &:focus { color: var(--brand-dark-t4); } }
@mixin hover-bg-brand-dark-t4 { &:hover, &:focus { background: var(--brand-dark-t4); } }
@mixin b--brand-dark-t4 { border-color: var(--brand-dark-t4); }

@mixin brand-dark-t6 { color: var(--brand-dark-t6); }
@mixin bg-brand-dark-t6 { background: var(--brand-dark-t6); }
@mixin hover-brand-dark-t6 { &:hover, &:focus { color: var(--brand-dark-t6); } }
@mixin hover-bg-brand-dark-t6 { &:hover, &:focus { background: var(--brand-dark-t6); } }
@mixin b--brand-dark-t6 { border-color: var(--brand-dark-t6); }

@mixin brand-dark-t8 { color: var(--brand-dark-t8); }
@mixin bg-brand-dark-t8 { background: var(--brand-dark-t8); }
@mixin hover-brand-dark-t8 { &:hover, &:focus { color: var(--brand-dark-t8); } }
@mixin hover-bg-brand-dark-t8 { &:hover, &:focus { background: var(--brand-dark-t8); } }
@mixin b--brand-dark-t8 { border-color: var(--brand-dark-t8); }

@mixin brand-light-t2 { color: var(--brand-light-t2); }
@mixin bg-brand-light-t2 { background: var(--brand-light-t2); }
@mixin hover-brand-light-t2 { &:hover, &:focus { color: var(--brand-light-t2); } }
@mixin hover-bg-brand-light-t2 { &:hover, &:focus { background: var(--brand-light-t2); } }
@mixin b--brand-light-t2 { border-color: var(--brand-light-t2); }

@mixin brand-light-t4 { color: var(--brand-light-t4); }
@mixin bg-brand-light-t4 { background: var(--brand-light-t4); }
@mixin hover-brand-light-t4 { &:hover, &:focus { color: var(--brand-light-t4); } }
@mixin hover-bg-brand-light-t4 { &:hover, &:focus { background: var(--brand-light-t4); } }
@mixin b--brand-light-t4 { border-color: var(--brand-light-t4); }

@mixin brand-light-t6 { color: var(--brand-light-t6); }
@mixin bg-brand-light-t6 { background: var(--brand-light-t6); }
@mixin hover-brand-light-t6 { &:hover, &:focus { color: var(--brand-light-t6); } }
@mixin hover-bg-brand-light-t6 { &:hover, &:focus { background: var(--brand-light-t6); } }
@mixin b--brand-light-t6 { border-color: var(--brand-light-t6); }

@mixin brand-light-t8 { color: var(--brand-light-t8); }
@mixin bg-brand-light-t8 { background: var(--brand-light-t8); }
@mixin hover-brand-light-t8 { &:hover, &:focus { color: var(--brand-light-t8); } }
@mixin hover-bg-brand-light-t8 { &:hover, &:focus { background: var(--brand-light-t8); } }
@mixin b--brand-light-t8 { border-color: var(--brand-light-t8); }

@mixin blue-t2 { color: var(--blue-t2); }
@mixin bg-blue-t2 { background: var(--blue-t2); }
@mixin hover-blue-t2 { &:hover, &:focus { color: var(--blue-t2); } }
@mixin hover-bg-blue-t2 { &:hover, &:focus { background: var(--blue-t2); } }
@mixin b--blue-t2 { border-color: var(--blue-t2); }

@mixin blue-t4 { color: var(--blue-t4); }
@mixin bg-blue-t4 { background: var(--blue-t4); }
@mixin hover-blue-t4 { &:hover, &:focus { color: var(--blue-t4); } }
@mixin hover-bg-blue-t4 { &:hover, &:focus { background: var(--blue-t4); } }
@mixin b--blue-t4 { border-color: var(--blue-t4); }

@mixin blue-t6 { color: var(--blue-t6); }
@mixin bg-blue-t6 { background: var(--blue-t6); }
@mixin hover-blue-t6 { &:hover, &:focus { color: var(--blue-t6); } }
@mixin hover-bg-blue-t6 { &:hover, &:focus { background: var(--blue-t6); } }
@mixin b--blue-t6 { border-color: var(--blue-t6); }

@mixin blue-t8 { color: var(--blue-t8); }
@mixin bg-blue-t8 { background: var(--blue-t8); }
@mixin hover-blue-t8 { &:hover, &:focus { color: var(--blue-t8); } }
@mixin hover-bg-blue-t8 { &:hover, &:focus { background: var(--blue-t8); } }
@mixin b--blue-t8 { border-color: var(--blue-t8); }

@mixin red-t2 { color: var(--red-t2); }
@mixin bg-red-t2 { background: var(--red-t2); }
@mixin hover-red-t2 { &:hover, &:focus { color: var(--red-t2); } }
@mixin hover-bg-red-t2 { &:hover, &:focus { background: var(--red-t2); } }
@mixin b--red-t2 { border-color: var(--red-t2); }

@mixin red-t4 { color: var(--red-t4); }
@mixin bg-red-t4 { background: var(--red-t4); }
@mixin hover-red-t4 { &:hover, &:focus { color: var(--red-t4); } }
@mixin hover-bg-red-t4 { &:hover, &:focus { background: var(--red-t4); } }
@mixin b--red-t4 { border-color: var(--red-t4); }

@mixin red-t6 { color: var(--red-t6); }
@mixin bg-red-t6 { background: var(--red-t6); }
@mixin hover-red-t6 { &:hover, &:focus { color: var(--red-t6); } }
@mixin hover-bg-red-t6 { &:hover, &:focus { background: var(--red-t6); } }
@mixin b--red-t6 { border-color: var(--red-t6); }

@mixin red-t8 { color: var(--red-t8); }
@mixin bg-red-t8 { background: var(--red-t8); }
@mixin hover-red-t8 { &:hover, &:focus { color: var(--red-t8); } }
@mixin hover-bg-red-t8 { &:hover, &:focus { background: var(--red-t8); } }
@mixin b--red-t8 { border-color: var(--red-t8); }

@mixin orange-t2 { color: var(--orange-t2); }
@mixin bg-orange-t2 { background: var(--orange-t2); }
@mixin hover-orange-t2 { &:hover, &:focus { color: var(--orange-t2); } }
@mixin hover-bg-orange-t2 { &:hover, &:focus { background: var(--orange-t2); } }
@mixin b--orange-t2 { border-color: var(--orange-t2); }

@mixin orange-t4 { color: var(--orange-t4); }
@mixin bg-orange-t4 { background: var(--orange-t4); }
@mixin hover-orange-t4 { &:hover, &:focus { color: var(--orange-t4); } }
@mixin hover-bg-orange-t4 { &:hover, &:focus { background: var(--orange-t4); } }
@mixin b--orange-t4 { border-color: var(--orange-t4); }

@mixin orange-t6 { color: var(--orange-t6); }
@mixin bg-orange-t6 { background: var(--orange-t6); }
@mixin hover-orange-t6 { &:hover, &:focus { color: var(--orange-t6); } }
@mixin hover-bg-orange-t6 { &:hover, &:focus { background: var(--orange-t6); } }
@mixin b--orange-t6 { border-color: var(--orange-t6); }

@mixin orange-t8 { color: var(--orange-t8); }
@mixin bg-orange-t8 { background: var(--orange-t8); }
@mixin hover-orange-t8 { &:hover, &:focus { color: var(--orange-t8); } }
@mixin hover-bg-orange-t8 { &:hover, &:focus { background: var(--orange-t8); } }
@mixin b--orange-t8 { border-color: var(--orange-t8); }

@mixin green-t2 { color: var(--green-t2); }
@mixin bg-green-t2 { background: var(--green-t2); }
@mixin hover-green-t2 { &:hover, &:focus { color: var(--green-t2); } }
@mixin hover-bg-green-t2 { &:hover, &:focus { background: var(--green-t2); } }
@mixin b--green-t2 { border-color: var(--green-t2); }

@mixin green-t4 { color: var(--green-t4); }
@mixin bg-green-t4 { background: var(--green-t4); }
@mixin hover-green-t4 { &:hover, &:focus { color: var(--green-t4); } }
@mixin hover-bg-green-t4 { &:hover, &:focus { background: var(--green-t4); } }
@mixin b--green-t4 { border-color: var(--green-t4); }

@mixin green-t6 { color: var(--green-t6); }
@mixin bg-green-t6 { background: var(--green-t6); }
@mixin hover-green-t6 { &:hover, &:focus { color: var(--green-t6); } }
@mixin hover-bg-green-t6 { &:hover, &:focus { background: var(--green-t6); } }
@mixin b--green-t6 { border-color: var(--green-t6); }

@mixin green-t8 { color: var(--green-t8); }
@mixin bg-green-t8 { background: var(--green-t8); }
@mixin hover-green-t8 { &:hover, &:focus { color: var(--green-t8); } }
@mixin hover-bg-green-t8 { &:hover, &:focus { background: var(--green-t8); } }
@mixin b--green-t8 { border-color: var(--green-t8); }

@mixin purple-t2 { color: var(--purple-t2); }
@mixin bg-purple-t2 { background: var(--purple-t2); }
@mixin hover-purple-t2 { &:hover, &:focus { color: var(--purple-t2); } }
@mixin hover-bg-purple-t2 { &:hover, &:focus { background: var(--purple-t2); } }
@mixin b--purple-t2 { border-color: var(--purple-t2); }

@mixin purple-t4 { color: var(--purple-t4); }
@mixin bg-purple-t4 { background: var(--purple-t4); }
@mixin hover-purple-t4 { &:hover, &:focus { color: var(--purple-t4); } }
@mixin hover-bg-purple-t4 { &:hover, &:focus { background: var(--purple-t4); } }
@mixin b--purple-t4 { border-color: var(--purple-t4); }

@mixin purple-t6 { color: var(--purple-t6); }
@mixin bg-purple-t6 { background: var(--purple-t6); }
@mixin hover-purple-t6 { &:hover, &:focus { color: var(--purple-t6); } }
@mixin hover-bg-purple-t6 { &:hover, &:focus { background: var(--purple-t6); } }
@mixin b--purple-t6 { border-color: var(--purple-t6); }

@mixin purple-t8 { color: var(--purple-t8); }
@mixin bg-purple-t8 { background: var(--purple-t8); }
@mixin hover-purple-t8 { &:hover, &:focus { color: var(--purple-t8); } }
@mixin hover-bg-purple-t8 { &:hover, &:focus { background: var(--purple-t8); } }
@mixin b--purple-t8 { border-color: var(--purple-t8); }

@mixin yellow-t2 { color: var(--yellow-t2); }
@mixin bg-yellow-t2 { background: var(--yellow-t2); }
@mixin hover-yellow-t2 { &:hover, &:focus { color: var(--yellow-t2); } }
@mixin hover-bg-yellow-t2 { &:hover, &:focus { background: var(--yellow-t2); } }
@mixin b--yellow-t2 { border-color: var(--yellow-t2); }

@mixin yellow-t4 { color: var(--yellow-t4); }
@mixin bg-yellow-t4 { background: var(--yellow-t4); }
@mixin hover-yellow-t4 { &:hover, &:focus { color: var(--yellow-t4); } }
@mixin hover-bg-yellow-t4 { &:hover, &:focus { background: var(--yellow-t4); } }
@mixin b--yellow-t4 { border-color: var(--yellow-t4); }

@mixin yellow-t6 { color: var(--yellow-t6); }
@mixin bg-yellow-t6 { background: var(--yellow-t6); }
@mixin hover-yellow-t6 { &:hover, &:focus { color: var(--yellow-t6); } }
@mixin hover-bg-yellow-t6 { &:hover, &:focus { background: var(--yellow-t6); } }
@mixin b--yellow-t6 { border-color: var(--yellow-t6); }

@mixin yellow-t8 { color: var(--yellow-t8); }
@mixin bg-yellow-t8 { background: var(--yellow-t8); }
@mixin hover-yellow-t8 { &:hover, &:focus { color: var(--yellow-t8); } }
@mixin hover-bg-yellow-t8 { &:hover, &:focus { background: var(--yellow-t8); } }
@mixin b--yellow-t8 { border-color: var(--yellow-t8); }

@mixin steel-t2 { color: var(--steel-t2); }
@mixin bg-steel-t2 { background: var(--steel-t2); }
@mixin hover-steel-t2 { &:hover, &:focus { color: var(--steel-t2); } }
@mixin hover-bg-steel-t2 { &:hover, &:focus { background: var(--steel-t2); } }
@mixin b--steel-t2 { border-color: var(--steel-t2); }

@mixin steel-t4 { color: var(--steel-t4); }
@mixin bg-steel-t4 { background: var(--steel-t4); }
@mixin hover-steel-t4 { &:hover, &:focus { color: var(--steel-t4); } }
@mixin hover-bg-steel-t4 { &:hover, &:focus { background: var(--steel-t4); } }
@mixin b--steel-t4 { border-color: var(--steel-t4); }

@mixin steel-t6 { color: var(--steel-t6); }
@mixin bg-steel-t6 { background: var(--steel-t6); }
@mixin hover-steel-t6 { &:hover, &:focus { color: var(--steel-t6); } }
@mixin hover-bg-steel-t6 { &:hover, &:focus { background: var(--steel-t6); } }
@mixin b--steel-t6 { border-color: var(--steel-t6); }

@mixin steel-t8 { color: var(--steel-t8); }
@mixin bg-steel-t8 { background: var(--steel-t8); }
@mixin hover-steel-t8 { &:hover, &:focus { color: var(--steel-t8); } }
@mixin hover-bg-steel-t8 { &:hover, &:focus { background: var(--steel-t8); } }
@mixin b--steel-t8 { border-color: var(--steel-t8); }

