// '_mix.scss'
// '_css.scss'

$brand-dark: #002D6A;
$brand-light: #6CADDF;
$blue: #1976D2;
$red: #D62027;
$orange: #F36F27;
$green: #14AA40;
$purple: #803F97;
$yellow: #FBC30C;
$steel: #34576E;
$white: #fff;
$black: #000;
$transparent: transparent;

