// '_mix.scss'
// '_css.scss'
$brand-dark: #002D6A;
$brand-light: #6CADDF;
$blue: #1976D2;
$red: #D62027;
$orange: #F36F27;
$green: #14AA40;
$purple: #803F97;
$yellow: #FBC30C;
$steel: #34576E;
$grey: #777;
$white: #fff;
$black: #000;
$transparent: transparent;
$brand-dark-100: mix($brand-dark,white,20%);
$brand-dark-200: mix($brand-dark,white,40%);
$brand-dark-300: mix($brand-dark,white,60%);
$brand-dark-400: mix($brand-dark,white,80%);
$brand-dark: $brand-dark;
$brand-dark-600: mix($brand-dark,black,80%);
$brand-dark-700: mix($brand-dark,black,60%);
$brand-dark-800: mix($brand-dark,black,40%);
$brand-dark-900: mix($brand-dark,black,20%);
$brand-light-100: mix($brand-light,white,20%);
$brand-light-200: mix($brand-light,white,40%);
$brand-light-300: mix($brand-light,white,60%);
$brand-light-400: mix($brand-light,white,80%);
$brand-light: $brand-light;
$brand-light-600: mix($brand-light,black,80%);
$brand-light-700: mix($brand-light,black,60%);
$brand-light-800: mix($brand-light,black,40%);
$brand-light-900: mix($brand-light,black,20%);
$blue-100: mix($blue,white,20%);
$blue-200: mix($blue,white,40%);
$blue-300: mix($blue,white,60%);
$blue-400: mix($blue,white,80%);
$blue: $blue;
$blue-600: mix($blue,black,80%);
$blue-700: mix($blue,black,60%);
$blue-800: mix($blue,black,40%);
$blue-900: mix($blue,black,20%);
$red-100: mix($red,white,20%);
$red-200: mix($red,white,40%);
$red-300: mix($red,white,60%);
$red-400: mix($red,white,80%);
$red: $red;
$red-600: mix($red,black,80%);
$red-700: mix($red,black,60%);
$red-800: mix($red,black,40%);
$red-900: mix($red,black,20%);
$orange-100: mix($orange,white,20%);
$orange-200: mix($orange,white,40%);
$orange-300: mix($orange,white,60%);
$orange-400: mix($orange,white,80%);
$orange: $orange;
$orange-600: mix($orange,black,80%);
$orange-700: mix($orange,black,60%);
$orange-800: mix($orange,black,40%);
$orange-900: mix($orange,black,20%);
$green-100: mix($green,white,20%);
$green-200: mix($green,white,40%);
$green-300: mix($green,white,60%);
$green-400: mix($green,white,80%);
$green: $green;
$green-600: mix($green,black,80%);
$green-700: mix($green,black,60%);
$green-800: mix($green,black,40%);
$green-900: mix($green,black,20%);
$purple-100: mix($purple,white,20%);
$purple-200: mix($purple,white,40%);
$purple-300: mix($purple,white,60%);
$purple-400: mix($purple,white,80%);
$purple: $purple;
$purple-600: mix($purple,black,80%);
$purple-700: mix($purple,black,60%);
$purple-800: mix($purple,black,40%);
$purple-900: mix($purple,black,20%);
$yellow-100: mix($yellow,white,20%);
$yellow-200: mix($yellow,white,40%);
$yellow-300: mix($yellow,white,60%);
$yellow-400: mix($yellow,white,80%);
$yellow: $yellow;
$yellow-600: mix($yellow,black,80%);
$yellow-700: mix($yellow,black,60%);
$yellow-800: mix($yellow,black,40%);
$yellow-900: mix($yellow,black,20%);
$steel-100: mix($steel,white,20%);
$steel-200: mix($steel,white,40%);
$steel-300: mix($steel,white,60%);
$steel-400: mix($steel,white,80%);
$steel: $steel;
$steel-600: mix($steel,black,80%);
$steel-700: mix($steel,black,60%);
$steel-800: mix($steel,black,40%);
$steel-900: mix($steel,black,20%);

$grey-050: mix($grey,white,10%);
$grey-100: mix($grey,white,20%);
$grey-150: mix($grey,white,30%);
$grey-200: mix($grey,white,40%);
$grey-250: mix($grey,white,50%);
$grey-300: mix($grey,white,60%);
$grey-350: mix($grey,white,70%);
$grey-400: mix($grey,white,80%);
$grey-450: mix($grey,white,90%);
$grey: $grey;
$grey-550: mix($grey,black,90%);
$grey-600: mix($grey,black,80%);
$grey-650: mix($grey,black,70%);
$grey-700: mix($grey,black,60%);
$grey-750: mix($grey,black,50%);
$grey-800: mix($grey,black,40%);
$grey-850: mix($grey,black,30%);
$grey-900: mix($grey,black,20%);
$grey-950: mix($grey,black,10%);

$grey-t1: transparentize($grey,.1);
$grey-t2: transparentize($grey,.2);
$grey-t3: transparentize($grey,.3);
$grey-t4: transparentize($grey,.4);
$grey-t5: transparentize($grey,.5);
$grey-t6: transparentize($grey,.6);
$grey-t7: transparentize($grey,.7);
$grey-t8: transparentize($grey,.8);
$grey-t9: transparentize($grey,.9);
$white-t1: transparentize($white,.1);
$white-t2: transparentize($white,.2);
$white-t3: transparentize($white,.3);
$white-t4: transparentize($white,.4);
$white-t5: transparentize($white,.5);
$white-t6: transparentize($white,.6);
$white-t7: transparentize($white,.7);
$white-t8: transparentize($white,.8);
$white-t9: transparentize($white,.9);
$black-t1: transparentize($black,.1);
$black-t2: transparentize($black,.2);
$black-t3: transparentize($black,.3);
$black-t4: transparentize($black,.4);
$black-t5: transparentize($black,.5);
$black-t6: transparentize($black,.6);
$black-t7: transparentize($black,.7);
$black-t8: transparentize($black,.8);
$black-t9: transparentize($black,.9);
$brand-dark-t2: transparentize($brand-dark,.2);
$brand-dark-t4: transparentize($brand-dark,.4);
$brand-dark-t6: transparentize($brand-dark,.6);
$brand-dark-t8: transparentize($brand-dark,.8);
$brand-light-t2: transparentize($brand-light,.2);
$brand-light-t4: transparentize($brand-light,.4);
$brand-light-t6: transparentize($brand-light,.6);
$brand-light-t8: transparentize($brand-light,.8);
$blue-t2: transparentize($blue,.2);
$blue-t4: transparentize($blue,.4);
$blue-t6: transparentize($blue,.6);
$blue-t8: transparentize($blue,.8);
$red-t2: transparentize($red,.2);
$red-t4: transparentize($red,.4);
$red-t6: transparentize($red,.6);
$red-t8: transparentize($red,.8);
$orange-t2: transparentize($orange,.2);
$orange-t4: transparentize($orange,.4);
$orange-t6: transparentize($orange,.6);
$orange-t8: transparentize($orange,.8);
$green-t2: transparentize($green,.2);
$green-t4: transparentize($green,.4);
$green-t6: transparentize($green,.6);
$green-t8: transparentize($green,.8);
$purple-t2: transparentize($purple,.2);
$purple-t4: transparentize($purple,.4);
$purple-t6: transparentize($purple,.6);
$purple-t8: transparentize($purple,.8);
$yellow-t2: transparentize($yellow,.2);
$yellow-t4: transparentize($yellow,.4);
$yellow-t6: transparentize($yellow,.6);
$yellow-t8: transparentize($yellow,.8);
$steel-t2: transparentize($steel,.2);
$steel-t4: transparentize($steel,.4);
$steel-t6: transparentize($steel,.6);
$steel-t8: transparentize($steel,.8);
