

@mixin ba { border-style: solid; border-width: 1px; }
@mixin bt { border-top-style: solid; border-top-width: 1px; }
@mixin br { border-right-style: solid; border-right-width: 1px; }
@mixin bb { border-bottom-style: solid; border-bottom-width: 1px; }
@mixin bl { border-left-style: solid; border-left-width: 1px; }
@mixin bn { border-style: none; border-width: 0; }

	

