$default-focus-color: blue;
$default-blue: blue;

@mixin default-input {
  color: $default-blue;
  display: block;
  border: 1px solid #cbd1e0;
  line-height: rem(54);
  padding-left: rem(14);
  padding-right: rem(14);
  height: rem(54);
  @include appearance(none);
  border-radius: 0;
  &:focus {
    border-color: $default-focus-color;
  }
  &:disabled {
    background: #f5f5f5;
  }
  &::-webkit-input-placeholder {
    color: transparentize($default-blue, 0.6);
  }
  &:-moz-placeholder {
    color: transparentize($default-blue, 0.6);
  }
  &::-moz-placeholder {
    color: transparentize($default-blue, 0.6);
  }
}
@mixin default-input-ms-placeholder {
  color: transparentize($default-blue, 0.6);
}

@mixin default-textbox {
  display: block;
  border: 1px solid #cbd1e0;
  padding: rem(14);
  @include appearance(none);
  border-radius: 0;
  &:focus {
    border-color: $default-focus-color;
  }
}

@mixin default-select {
  border: 1px solid #cbd1e0;
  @include appearance(none);
  background: #fff;
  line-height: rem(54);
  letter-spacing: inherit;
  padding-left: rem(14);
  padding-right: rem(32);
  height: rem(54);
  @include appearance(none);
  display: block;
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNyAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOC41IDEwLjc3N0wxLjA2MyAzIDAgNC4xMTIgOC41IDEzIDE3IDQuMTEyIDE1LjkzNyAzIiBmaWxsPSIjMTk0QUI2Ii8+Cjwvc3ZnPgo=);
  background-size: scale-down;
  &:focus {
    border-color: $default-focus-color;
  }
}


