/* header-search-area */
.header-content .search-area { border-radius: 4px; padding-left:16px; padding-right:18px; position:relative; margin-left:48px; flex: 0 1 500px; display: flex; align-items: center; background: $steel-050; }
.header-content .search-area:before { content:''; position:absolute; left: -24px; top:8px; bottom:8px; border-left:2px solid $steel-100 }
.header-content .search-area .input-search { flex: 1 1 auto; }
.header-content .search-area input[type="search"] { padding-left: 16px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05) inset ; font-weight:600; @include f6; border:1px solid transparentize($steel,.6); width:100%; height:rem(40); display:block; background:#fff; color:$brand-dark; }
.header-content .search-area input[type="search"]:focus { border-color: $blue ; background: $blue-045; @include placeholder { font-weight:600;  } }
.header-content .search-area input[type="search"]:valid:focus { border-color: $blue ; }
.header-content .search-area input[type="search"]:valid { border-color:$steel-300; background: $steel-045; }
.header-content .search-area input[type="search"] { @include placeholder { opacity:1; color:$brand-dark-200; line-height: 40px; } }
.header-content .search-area input[type="search"] ~ .magnify { pointer-events:none; width:26px; height:26px; position:absolute; top:50%; transform:translateY(-50%); margin-left:8px; opacity:1; fill: $brand-dark-200; }
.header-content .search-area input[type="search"]:hover { transition: .4s background-color $curve; background: $blue-045; @include placeholder { transition: .4s opacity $curve; opacity:1; } }
.header-content .search-area input[type="search"]:hover ~ .magnify { opacity:1; transition: .4s opacity $curve; }
.header-content .search-area input[type="search"]:focus ~ .magnify { opacity:.6; transition: .4s opacity $curve; }
.header-content .search-area input[type="search"]:focus { @include placeholder { opacity:.6; } }
.header-content .search-area input[type="search"]:valid ~ .magnify { opacity:1; }
.header-content .search-area .input-search { position:relative; }
.header-content .search-area .search-button { position:absolute; top:50%; transform:translateY(-50%); right:-2px; height:40px; width:48px; justify-content:center; border-radius:0 3px 3px 0 ; display:flex; align-items:center; background:$brand-dark-400; transition: .2s background $curve; }
.header-content .search-area .search-button:hover { transition: .2s background $curve; background: $brand-dark; }
.header-content .search-area input:focus + .search-button { background:$blue; transition: .2s background $curve; }
.header-content .search-area input:focus + .search-button:hover { transition: .2s background $curve; background:$blue-600; }
.header-content .search-area .magnify { fill:var(--white); width:30px; height:30px; }






