/* header-clear-all */
.header-content .clear-all { padding-left:8px; padding-right:8px; }
.header-content .clear-all .clear { display:flex; @include f-small; align-items:center; font-weight:600; color:$blue; padding-left:4px; }
.header-content .clear-all .clear > span { pointer-events:none; }
.header-content .clear-all .clear .icon svg { fill:currentColor; width:24px; height:24px; display:block; }
.header-content .clear-all .text { padding-left:4px; }
.header-content .clear-all { display:none; }
body.search-results-visible .header-content .clear-all { display:flex; }



