/* header-lockup */
.lockup { padding-top:24px; padding-right:32px; margin-bottom:16px; display:flex; align-items:justify; }
.lockup .nav-main { display:flex; flex: 0 1 400px; }
.lockup .preset-filters { flex: 1 1 auto; height:100%; }


