.views-control { border-radius: 0 6px 6px 0; color:$brand-dark; cursor:pointer; justify-content:justify; display:flex; height:64px; align-items:center; padding-left:16px; position:relative; text-decoration:none; width:400px; }
.views-control:before { content:''; position:absolute; left:32px; top:50%; display:block; width:56px; height:56px; z-index:0; border-radius:40px; transform:translateY(-50%); background: transparentize(white,1); }
.views-control .view-bar-icon { color:$brand-dark; position:relative; z-index:1; flex: 0 0 56px; width:56px; height:56px; display:flex; align-items:center; justify-content:center; }
.views-control .view-bar-icon > .inner { border-radius:40px; box-shadow: 0 0 0 1px $steel-150; background: $steel-010 ; color:$brand-dark; height:56px; width:56px; display:flex; align-items:center; justify-content:center; }
.views-control .view-bar-icon .table-eye { display:block; width:1.75em; height:1.75em; fill: currentColor; }
.views-control .viewing { height:100%; position: relative; @include f7; display:flex; align-items:flex-start; font-weight:600; flex-direction:column; justify-content:center; padding-left:8px; width:400px; height:56px; }
.views-control .viewing span, .view-bar .viewing b { display:inline-block; }
.views-control .viewing b { margin-left:.2em; }
.views-control .viewing .view-bar-subheader { margin-top:.25rem; font-weight:normal; @include f-small; }
.views-control:before { transition: .3s all $curve, .5s width $curve; height:64px; box-shadow: 0 -1px 0 transparentize($brand-dark,.85), 1px 0 0 transparentize($brand-dark,.85), 0 1px 0 transparentize($brand-dark,.85); background:$steel-040; width:100%; left:0; border-radius: 0 4px 4px 0; }
.views-control .view-bar-icon > .inner { transition: .3s all $curve; background:transparentize(white,.5); background:transparentize($brand-dark,.9); box-shadow: 0 0 0 1px transparentize(mix($blue,$brand-dark,30%),.5) ; color: $brand-dark-400; box-shadow: 0 0 0 1px transparentize($brand-dark,.9); }
.views-control:hover:before { box-shadow: 0 -1px 0 transparentize($brand-dark,.8), 1px 0 0 transparentize($brand-dark,.8), 0 1px 0 transparentize($brand-dark,.8); background:$steel-060; }



