* {
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: inherit;
}
html {
  // -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px; // 16px
  line-height: 1.5rem; // 24px
}
:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: $open-sans;
  letter-spacing: 0.048234375px;
  color: #444;
  font-feature-settings: "kern" on;
  text-rendering: optimizeLegibility;
  
}

body,
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
hr,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
//ul,
//ol 
{
  margin: 0;
}


