::-ms-reveal,
::-ms-clear {
  display: none;
}
form {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

progress {
  vertical-align: baseline;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
label[for] {
  cursor: pointer;
}
