input.object-defaults {
	@include default-input;
}

input.object-defaults {
	&:-ms-input-placeholder {
		@include default-input-ms-placeholder;
	}
}


textarea.object-defaults {
	@include default-textbox;
}


select.object-defaults {
	@include default-select;
}




