ul {
  padding: 0;
  list-style: none;
}
.li-mb1 {
  > li {
    margin-bottom: $sp1;
  }
}
.li-mb2 {
  > li {
    margin-bottom: $sp2;
  }
}
.li-mb3 {
  > li {
    margin-bottom: $sp3;
  }
}
.list-circle,
.list-square {
  > li:before {
    line-height: 1rem;
  }
}
.list-circle,
.list-square,
.list-dashed {
  position: relative;
  margin-left: 1.5rem;
  > li {
    &:before {
      position: absolute;
      display: inline-block;
      pointer-events: none;
      margin-left: -1.5rem;
      width: 0.5rem;
    }
  }
}
.list-circle {
  > li {
    &:before {
      transform: translateX(2px);
      content: '';
      font-size: 1.5em;
      width: 6px;
      height: 6px;
      margin-top: 0.4em;
      background: #444;
      border-radius: 50%;
    }
  }
}
.list-square {
  > li {
    &:before {
      content: '';
      transform: translateX(2px);
      font-size: 1.5em;
      width: 6px;
      height: 6px;
      margin-top: 0.4em;
      background: #444;
    }
  }
}
.list-dashed {
  > li {
    &:before {
      content: '';
      transform: translateX(1px);
      font-size: 1.5em;
      width: 8px;
      height: 2px;
      margin-top: 0.45em;
      background: #444;
    }
  }
}

ol:not(.ignore-defaults) {
  position: relative;
  margin-left: 1.5rem;
  counter-reset: section;
  list-style-type: none;
  li::before {
    float: left;
    margin-left: -1.5rem;
    padding-right: 1rem;
    counter-increment: section;
    content: counters(section, '.') ' ';
  }
}
.force-defaults {
  ul:not(.ignore-defaults) {
    list-style: square;
  }
  ol:not(.ignore-defaults) {
    list-style: decimal;
  }
  ol:not(.ignore-defaults),
  ul:not(.ignore-defaults) {
    margin-bottom: 1.5rem; // 24px
    padding-left: 2.5rem; // 40px
  }
}
