mark {
  background: $bg-alert-color;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
caption {
  text-align: left;
}
details {
  display: block;
}
summary {
  display: list-item;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
address {
  font-style: inherit;
}
main {
  display: block;
}
