

@mixin overflow-visible { overflow: visible; }
@mixin overflow-hidden { overflow: hidden; }
@mixin overflow-scroll { overflow: scroll; }
@mixin overflow-auto { overflow: auto; }

@mixin overflow-x-visible { overflow-x: visible; }
@mixin overflow-x-hidden { overflow-x: hidden; }
@mixin overflow-x-scroll { overflow-x: scroll; }
@mixin overflow-x-auto { overflow-x: auto; }

@mixin overflow-y-visible { overflow-y: visible; }
@mixin overflow-y-hidden { overflow-y: hidden; }
@mixin overflow-y-scroll { overflow-y: scroll; }
@mixin overflow-y-auto { overflow-y: auto; }

@mixin overflow-container { 
  overflow-y: scroll;
 }



