.grid-header .label-text  {
  display:flex;
  align-items:justify;
  position:relative;
  //z-index:1;
  a {
    color:var(--grey-700);
    text-decoration:none;
    display:flex;
    height: rem(32);
    align-items:flex-end;
    flex: 1 1 auto;
        color:var(--blue-600);
    
    &:before {
      display:none;
      transition: .2s background $curve;
      left:0;
      right:0;
      position:absolute;
      top:0;
      content:'';
      height:4px;
      border-radius: 0 0 4px 4px;
    }

    .sort-icon {
      position:relative;
      margin-left:auto;
      width:18px;
      height:18px;
    }
    .triangle-1-n, 
    .arrow-down, 
    .arrow-up-down {
      position:absolute;
      width:16px;
      height:16px;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      display:block;
      opacity:0;
      pointer-events:none;
    }
  }

      .arrow-up-down {
        opacity:0;
        fill: var(--grey-150);
      }
      &:hover {
        .arrow-up-down {
          opacity:1;
          fill: var(--blue);
        }
      }
}
