
.grid-header [data-col="Status"] {
  .label-text { 
    position:relative;
    &:before {
      content:'';
      background:$new-color;
      border-radius:10px;
      position:absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
      height:10px;
      width:10px;
    }
    a {
      padding-left: rem(28);
    }
  }
}
