/* grid-main */
.grid-main .fixed-left { border-right:1px solid $steel-400-t8; }
.grid-main [data-row] { flex: 0 1 auto; position:relative; display:none; }
.grid-main [data-row] [data-col] { border-right:1px solid $steel-400-t8; color:#777; box-shadow: 0 1px 0 $steel-400-t8 inset; }
.grid-main [data-row] .fixed-left > .inner, .grid-main [data-row] [data-col="Job Number"] > .inner, .grid-main [data-row] [data-col="App ID"] > .inner, .grid-main [data-row] [data-col="Client"] > .inner, .grid-main [data-row] [data-col="Status"] > .inner, .grid-main [data-row] [data-col="Final Deadline"] > .inner, .grid-main [data-row] [data-col="PM Owner"] > .inner { display:none; }
.grid-main [data-row]:first-of-type { display:flex; }
.grid-main [data-row]:first-of-type [data-col] { color:#333; box-shadow:none; }
[data-row]:first-of-type [data-col="Job Number"] > .inner, [data-row]:first-of-type [data-col="App ID"] > .inner, [data-row]:first-of-type [data-col="Client"] > .inner, [data-row]:first-of-type [data-col="Status"] > .inner, [data-row]:first-of-type [data-col="Final Deadline"] > .inner, [data-row]:first-of-type [data-col="PM Owner"] > .inner { display:block; }
.grid-main [data-row]:first-of-type .fixed-left > .inner { display:flex; }
.grid-main [data-col] { height: 32px; display:flex; min-width: 0; white-space:nowrap; align-items:center; }
.grid-main [data-col]:not(.fixed-left) > .inner { padding-left:8px; padding-right:8px; }
.grid-main [data-col] > .inner { flex: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.grid-main [data-col="Last Updated"] { padding-left:16px; }

/* data-group-empty */
.grid-main [data-group="empty"] { cursor:auto; }
.grid-main [data-group="empty"]:hover [data-col] { background:none; cursor:auto; }
.grid-main [data-group="empty"] .fixed-left label { display:none; }
.grid-main [data-group="empty"] [data-row] { flex: 1 1 auto; }
.grid-main [data-group="empty"] [data-row] [data-col] { height: auto; pointer-events:none; }
.grid-main [data-group="empty"] { min-height:100px; }
.grid-main [data-group="empty"] .fixed-left:before { box-shadow:none; background:none; }
.grid-main [data-group="empty"] [data-row] [data-col] { border-right:none; }
.grid-main [data-group="empty"] [data-row] [data-col]:nth-last-of-type(2):before { display:none; }
.grid-main [data-group="empty"]:hover [data-row] [data-col] { background:none; }


/* data-status */
[data-status] { padding-right:0; border-radius:4px; display:inline-flex; align-items:center; height:20px; color:#222; position:relative; }
[data-status="New Submission"] { color:$blue; font-weight: 600; }
[data-status="On Hold"] { background: url(x/img/icon-hold.svg) -2px center no-repeat; padding-left: 24px; background-size: 24px; color:$steel-600; }
.snoozed [data-status] { background: url(x/img/icon-snooze.svg) -2px center no-repeat; padding-left: 24px; background-size: 24px; color:$steel-600; }
[data-status="In Progress"] { color:$steel-600; }


/* main-data-col-note */
[data-col="Note"] { position:relative; }
[data-note-color] { padding-right:8px; padding-left:10px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:mix(black,$steel,10%); }
[data-note-color]:before { position:absolute; content:''; left:8px; right:8px; border-radius:4px; top:4px; bottom:4px; border-left: 4px solid transparentize($steel,.5); background:transparentize($steel,.92); }
[data-note-color="green"] { color:mix(black,$green-600,10%); }
[data-note-color="green"]:before { border-left: 4px solid transparentize($green-600,.5); background:transparentize($green-600,.92); }
[data-note-color="purple"] { color:mix(black,$purple,10%); }
[data-note-color="purple"]:before { border-left: 4px solid transparentize($purple,.5); background:transparentize($purple,.92); }
[data-note-color="red"] { color:mix(black,$red,10%); }
[data-note-color="red"]:before { border-left: 4px solid transparentize($red,.5); background:transparentize($red,.92); }



/* main-data-col-empty */
.grid-main [data-group] [data-row] [data-col="empty"] { pointer-events:none; }
.grid-main [data-group] [data-row] [data-col="empty"] { border-top:none; border-right:none; }
.grid-main [data-group]:hover [data-col="empty"] { background:none; }


/* main-data-col-pm-owner */
.grid-main [data-col="PM Owner"] { padding-right:24px; }
.grid-main [data-pm-owner-number] { position:relative; }
.grid-main [data-pm-owner-number]:before { position:absolute; right:12px; content: '(' attr(data-pm-owner-number) ')'; }
.grid-main [data-pm-owner-number="0"]:before, .grid-main [data-pm-owner-number="1"]:before { display:none; }



/* interactive */
[data-group-trigger], [data-row-trigger] { @include visuallyhidden; }
.grid-main [data-group]:hover { cursor:pointer; }
.grid-main [data-group]:hover [data-col] { background: $steel-045; }
.grid-main [data-group] [data-group-label] { pointer-events:none; }
.grid-main [data-group] .fixed-left { box-shadow: none; }
.grid-main [data-group].toggler [data-group-label] { pointer-events:auto; }
.grid-main [data-group].toggler .fixed-left:before { background: $steel-100; }
.grid-main [data-group].toggler [data-group-label] .fixed-left:before { background: $steel-075; }
.grid-main [data-group] [data-row]:first-of-type [data-col] { border-top:1px solid $steel-400-t8; }
.grid-main [data-group]:first-of-type [data-row]:first-of-type [data-col] { border-top:none; }
.grid-main [data-group-label] { color:$steel-450; position:relative; }
.grid-main [data-group-label] .chevron-right, .grid-main [data-group-label] .chevron-down { left:50%; top:50%; transform:translate(-50%,-50%); position:absolute; opacity:0; width:24px; height:24px; fill:currentColor; }
.grid-main [data-group].toggler [data-group-label] .chevron-right { opacity:1; }
.grid-main [data-group-label] { @include noselect; flex: 1 1 50%; display:block; position:relative; }
.grid-main [data-group-label] svg { opacity:0; position:absolute; width:24px; height: 24px; }
.fixed-left [data-group-label] { flex: 0 0 24px; }
.fixed-left [data-row-label] { flex: 1 1 50%; }
.grid-main [data-group] [data-row-label] { color:$grey; }
.grid-main [data-group]:hover { cursor:pointer; }
.grid-main [data-group]:hover [data-row-label] { color:$blue; }
.grid-main [data-row-label] { position:relative; display:block; height: 32px; flex: 1 1 33.333333%; }
.grid-main [data-row-label] svg { fill: currentColor; }
.grid-main [data-row-label]:hover { color: var(--blue); }
.grid-main [data-row-label] .check-on, .grid-main [data-row-label] .check-off { opacity:0; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:24px; height:24px; }
.grid-main [data-row-label] .check-off { opacity:1; }



/* group-expanded */

%group-expanded { 
  [data-row] { 
    display:flex; 
  }
  .fixed-left:before { 
    background: $steel-075; 
  }
  [data-row]:first-of-type .fixed-left:before { 
    background: $steel-175;
  } 
}

$items: 83; 
@for $i from 1 through $items { 
  $i: zerofill($i); 
  [data-group-trigger="id-#{$i}"]:checked ~ .subconnect-grid-container .grid-main [data-group="id-#{$i}"] { 
    @extend %group-expanded; 
  }
}

/* group-expanded-label */

%group-expanded-label { 
 .chevron-down { opacity:1; }
 .chevron-right { opacity:0; }
}

$items: 83; 
@for $i from 1 through $items { 
  $i: zerofill($i); 
  [data-group-trigger="id-#{$i}"]:checked ~ .subconnect-grid-container .grid-main [data-group].toggler [data-group-label="id-#{$i}"] { 
    @extend %group-expanded-label;
  }
}


/* row-checked */

%row-checked { 
  [data-col] { 
    background:$blue-070;
  }
  &:hover [data-col] { 
    background: $blue-100; 
  }
  [data-col="empty"] { 
    background:none; 
  }
  &:hover [data-col="empty"] { 
    background:none; 
  }
}

$items: 83; 

@for $i from 1 through $items { 
  $i: zerofill($i); 
  [data-row-trigger="id-#{$i}"]:checked ~ .subconnect-grid-container .grid-main [data-group="id-#{$i}"] { 
    @extend %row-checked; 
  }
}

/* row-checked-label */

%row-checked-label { 
  @include noselect; 
  color: var(--blue); 
  .check-on { 
    opacity:1; 
  }
  .check-off { 
    opacity:0; 
  }
}

$items: 83; 

@for $i from 1 through $items { 
  $i: zerofill($i); 
  [data-row-trigger="id-#{$i}"]:checked ~ .subconnect-grid-container .grid-main [data-row-label="id-#{$i}"] { 
    @extend %row-checked-label; 
  }
}


