/* main-page-divider */
.page-divider { position:sticky; color:#fff; left:0; right:0; top:0; @include f6; }
.page-divider [data-row] { top:0; height: 56px; display:flex; }
.page-divider [data-row] .fixed-left { height: 56px; border-right:none; background:none; }
.page-divider [data-row] .fixed-left label { display:none; }
.page-divider [data-row] .fixed-left:before { background:none; box-shadow: none; }
.page-divider [data-row] [data-col] { height: 56px; }
.page-divider .page-divider-content { left:0; top:50%; transform:translateY(-50%); padding-left: 32px; position:absolute; display:flex; align-items:center; }
.page-divider h2 { color:$brand-dark-t2; padding-left: 40px; padding-top: 100px; margin-top: -100px; -webkit-background-clip: content-box; background-clip: content-box; }

.grid-main .page-divider [data-row] [data-col] { border-right:0; }
.grid-main .page-divider [data-row] [data-col="empty"] { box-shadow: none; }
.grid-main .page-divider [data-row] [data-col].fixed-left:after { top:-1px; right:0; left:0; position:absolute; content:''; border-top:1px solid $steel-100; }
.grid-main [data-group].page-divider:hover [data-col] { background:none; }
.grid-main [data-group].page-divider:hover { cursor:auto; }

[data-row].page-divider { display:flex; }


