/* grid-header-input-search */
.tp-grid-filters { position:sticky; top:0; z-index:1;}

.tp-grid-filters [data-col] { border-bottom:2px solid $steel-400-t8;  height:auto; padding-bottom:8px; position:relative; overflow:visible; display:flex; flex-direction:column; justify-content: flex-end; background:#fff; }
.tp-grid-filters [data-row] { flex: 1 1 auto; display:flex; }
.tp-grid-filters [data-col]  { padding-left:8px; padding-right:8px;   }
.tp-grid-filters [data-col="empty"] .label-text { pointer-events:none; }
.tp-grid-filters [data-col]:nth-last-of-type(2) { position:relative; }
.tp-grid-filters [data-col]:nth-last-of-type(2):before { z-index: 1 ; content:''; position:absolute; right:0; top:0; bottom:0; border-right:1px solid $steel-400-t8; } 


/* grid-header-fixed-left */
.tp-grid-filters .fixed-left { position: sticky; left:0; top:0; z-index:3;}
.tp-grid-filters .fixed-left > .inner:before { content:''; position:absolute; top:0; bottom:0; right:0; z-index: 1; border-right:1px solid $steel-400-t8; } 
.tp-grid-filters input[type="search"] { box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05) inset ; font-weight:600; border:1px solid transparentize($steel,.6); width:100%; height:36px; display:block; background:#fff; padding-left:8px; color:$brand-dark; }
.tp-grid-filters input[type="search"] { @include placeholder { opacity:0; color:$brand-dark-300; line-height: 36px; } }
.tp-grid-filters input[type="search"]:placeholder-shown { padding-left:24px;  }
.tp-grid-filters input[type="search"]:focus { border-color: $blue; background: $blue-045; }
.tp-grid-filters input[type="search"]:valid:focus { border-color: $blue; }
.tp-grid-filters input[type="search"]:valid { border-color:$steel-300; background: $steel-045; }
.tp-grid-filters input[type="search"]:valid:hover { border-color:$blue; }
.tp-grid-filters input[type="search"] ~ .filter-variant { pointer-events:none; height:16px; width:16px; position:absolute; top:50%; transform:translateY(-50%); margin-left:8px; opacity:0; fill: $brand-dark-300; }
.tp-grid-filters input[type="search"]:hover {  background: $blue-045; }
.tp-grid-filters input[type="search"]:hover { @include placeholder {  opacity:1; } }
.tp-grid-filters input[type="search"]:hover ~ .filter-variant { opacity:1;  }
.tp-grid-filters input[type="search"]:focus ~ .filter-variant { opacity:.6;  }
.tp-grid-filters input[type="search"]:focus { @include placeholder { opacity:.6; } }
.tp-grid-filters input[type="search"]:valid ~ .filter-variant { opacity:0; }
.tp-grid-filters .input-search { position:relative; }
.tp-grid-filters input[type="search"] ~ .clear { position:absolute; right:0px; top:0px; opacity:0; @include appearance(none); border:none; width:28px; bottom:0px; overflow:hidden; }
.tp-grid-filters input[type="search"] ~ .clear:before { position:absolute; top:3px; right:1px; bottom:3px; width:28px; content:''; background: $steel-045; }
.tp-grid-filters input[type="search"] ~ .clear:after { content:''; left:4px; top:50%; z-index: 1; transform:translateY(-50%); position:absolute; width:16px; height:16px; border-radius:16px; background:$steel-125; }
.tp-grid-filters input[type="search"] ~ .clear { pointer-events:none; }
.tp-grid-filters input[type="search"] ~ .clear .input-clear, .tp-grid-filters input[type="search"] ~ .clear .input-clear-bold { z-index:2; width:24px; height:24px; position:absolute; top: 50%; right: 4px; transform:translateY(-50%); fill: $steel-400; }
.tp-grid-filters input[type="search"] ~ .clear .input-clear-bold { opacity:0; }
.tp-grid-filters input[type="search"] ~ .clear:hover:after { opacity:0;  }
.tp-grid-filters input[type="search"] ~ .clear:hover .input-clear { opacity:0; }
.tp-grid-filters input[type="search"] ~ .clear:hover .input-clear-bold { opacity:1;  fill: $blue-600; }
.tp-grid-filters input[type="search"]:valid:focus ~ .clear:after { opacity:0;  }
.tp-grid-filters input[type="search"]:valid:focus ~ .clear .input-clear { opacity:0; }
.tp-grid-filters input[type="search"]:valid:focus ~ .clear .input-clear-bold { fill: $blue; opacity:1; }
.tp-grid-filters input[type="search"]:valid:hover ~ .clear { fill: $blue; }
.tp-grid-filters input[type="search"]:valid:hover ~ .clear:before { background: $blue-045; }
.tp-grid-filters input[type="search"]:valid ~ .clear { pointer-events:auto; opacity:1; }


