/* grid-header-clear-filters */
.tp-grid-clearbox { z-index:2; position:fixed; top: 228px; right:0; opacity:.99; height:60px; }
.tp-grid-clearbox .clear { transition: .5s all $curve; min-width:64px; display:flex; align-items:center; right:0; position:absolute; padding-left:16px; padding-right:16px; box-shadow: 0 0 0 10px transparentize($steel,.92); border:1px solid $steel-250; background:#fff; color:$steel-250; height:60px; @include f-small; border-radius: 60px 0 0 60px; }
.tp-grid-clearbox .clear .filter-icon { pointer-events:none; position:absolute; left:50%; transform:translateX(-50%); transition: .5s all $curve; opacity:1; }
.tp-grid-clearbox .clear .filter-icon svg { display:block; width:24px; height:24px; fill: currentColor; }
.tp-grid-clearbox .clear .text-area { transition: 1s max-width $curve, .25s opacity $curve; max-width:0; white-space:nowrap; pointer-events:none; opacity:0; overflow:hidden; color:$blue; font-weight:600; display:flex; align-items:center; }
.tp-grid-clearbox .text-area .clear-icon { padding-right:4px; }
.tp-grid-clearbox .text-area .clear-icon svg { display:block; width:24px; height:24px; fill: currentColor; }
.tp-grid-clearbox .clear:hover { background:#fff; box-shadow: 0 0 0 10px transparentize($steel,.8); transition: .5s all $curve; }
.tp-grid-clearbox .clear:hover .filter-icon { transition: .25s all $curve; opacity:0; }
.tp-grid-clearbox .clear:hover .text-area { transition: .5s all $curve; max-width:150px; opacity:1; }

.tp-grid-clearbox { display:none; }
.filtered .tp-grid-clearbox { display:block; }


