/* grid-header */
.tp-grid-headers {z-index:2;}
.tp-grid-headers [data-col] { height:auto;  position:relative; overflow:visible; display:flex; flex-direction:column; justify-content: flex-end; background:#fff;}
.tp-grid-headers [data-col] > .inner { white-space:normal; }
.tp-grid-headers [data-col]:after { left:0; right:0; top:0; background: $steel-050; z-index:0; height:32px; content:''; position: absolute; }
.tp-grid-headers [data-row] { flex: 1 1 auto; display:flex; }
.tp-grid-headers [data-col] > .inner { padding-left:8px; padding-right:8px; }
.tp-grid-headers [data-col="empty"] .label-text { pointer-events:none; }
.tp-grid-headers [data-col]:nth-last-of-type(2) { position:relative; }
.tp-grid-headers [data-col]:nth-last-of-type(2):before { z-index:1; content:''; position:absolute; right:0; top:0; bottom:0; border-right:1px solid $steel-400-t8; }

/* grid-header-fixed-left */
.tp-grid-headers .fixed-left { position: sticky; left:0; top:0; z-index: 3;}
.tp-grid-headers .fixed-left > .inner:before { content:''; position:absolute; top:0; bottom:0; right:0; z-index:1; border-right:1px solid $steel-400-t8; }


/* grid-header-labels */
.tp-grid-headers .label-text { z-index: 1; display:flex; align-items:justify; position:relative; margin-bottom:8px; height: 32px; color: $steel-450; }
.tp-grid-headers .label-text a { color:currentColor; text-decoration:none; display:flex; height: 32px; align-items:center; flex: 1 1 auto; }
.tp-grid-headers .label-text a:before { display:none; transition: .2s background $curve; left:0; right:0; position:absolute; top:0; content:''; height:4px; border-radius: 0 0 4px 4px; }
.tp-grid-headers .label-text .sort-icon { color:currentColor; position:relative; margin-left:auto; width:18px; height:18px; }
.tp-grid-headers .arrow-up, .tp-grid-headers .arrow-down, .tp-grid-headers .arrow-up-down { position:absolute; width:16px; height:16px; top:50%; left:50%; transform:translate(-50%,-50%); display:block; opacity:0; pointer-events:none; fill: currentColor; }
.tp-grid-headers .label-text:hover { background: $steel-075; box-shadow: -8px 0 0 0 $steel-075, 8px 0 0 0 $steel-075; color:$steel; }
.tp-grid-headers .label-text:hover .arrow-up-down { opacity:.6; }
.tp-grid-headers .label-text:active { box-shadow: -8px 0 0 0 $steel-075, 8px 0 0 0 $steel-075; background:$steel-075; }
.tp-grid-headers [data-col].descending .label-text, .tp-grid-headers [data-col].ascending .label-text { background:$steel-100; box-shadow: -8px 0 0 0 $steel-100, 8px 0 0 0 $steel-100; color:$steel; }
.tp-grid-headers [data-col].descending .label-text:hover, .tp-grid-headers [data-col].ascending .label-text:hover { background:$steel-075; box-shadow: -8px 0 0 0 $steel-075, 8px 0 0 0 $steel-075; }
.tp-grid-headers [data-col].descending .label-text:active, .tp-grid-headers [data-col].ascending .label-text:active { background:$steel-175; box-shadow: -8px 0 0 0 $steel-175, 8px 0 0 0 $steel-175; }
.tp-grid-headers [data-col].ascending .arrow-up-down { opacity:0; }
.tp-grid-headers [data-col].ascending .arrow-up { opacity:1; transition: transform .2s ease-out; }
.tp-grid-headers [data-col].ascending .label-text:hover .arrow-up { transform-origin: center; transform: translate(-50%, -50%) rotate(180deg) ; transition: transform .2s ease-out; }
.tp-grid-headers [data-col].descending .arrow-up-down { opacity:0; }
.tp-grid-headers [data-col].descending .arrow-down { opacity:1; transition: transform .2s ease-out; }
.tp-grid-headers [data-col].descending .label-text:hover .arrow-down { transform-origin: center; transform: translate(-50%, -50%) rotate(-180deg) ; transition: transform .2s ease-out; }

/* grid-header-last-updated */
.tp-grid-headers [data-col="Last Updated"] .label-text { position:relative; }
.tp-grid-headers [data-col="Last Updated"] .label-text:before { content:''; background:$blue; border-radius:10px; position:absolute; left:0; top:50%; transform:translateY(-50%); height:10px; width:10px; }
.tp-grid-headers [data-col="Last Updated"] .label-text a { padding-left: 16px; }




