/* grid-header-drag */
.tp-grid-headers [data-col] .drag { z-index:2; position:absolute; width:16px; left:-8px; top:0; bottom: -44px; cursor: col-resize; }
.tp-grid-headers [data-col] .drag:before, .tp-grid-headers [data-col] .drag:after { position:absolute; content:''; top:0; bottom:0; left: 7px; transition: width .2s $curve, opacity .2s $curve, height .2s $curve; }
.tp-grid-headers [data-col] .drag:before { opacity:0; width:14px; left:0; background:#ccc; background: $blue-t8; border-radius:2px; }
.tp-grid-headers [data-col] .drag:after { width:1px; border-left: 1px solid $steel-400-t8; }
.tp-grid-headers [data-col] .drag:hover:before { opacity: .3; height:100%; }
.tp-grid-headers [data-col] .drag:hover:after { height:100%; width:1px; background:var(--blue); opacity: 1; }
.tp-grid-headers [data-col]:nth-of-type(2) .drag { display:none; }
[data-col="empty"] .drag { display:none; }

/* drag cover - to cover up the drag elements over the filters when the user is scrolling horizontally */
.drag-cover { position: absolute; background:#fff; width:79px; z-index:4; height:52px; bottom: -44px; right:1px; }
.drag-cover:before { box-shadow: 1px 0 0 $steel-400-t8; content:''; position: absolute; background:$steel-050; width: 24px; top: 0; bottom: 0; left: 0; background:$steel-050; }

