/* grid */
.subconnect-grid-container { position:relative; @include f-small; }

/* main-fixed-left */
.subconnect-grid-container .fixed-left { top:0; flex: 0 0 80px; position:sticky; left:0; background:#fff; z-index: 1; }
.subconnect-grid-container .fixed-left:before { box-shadow: 1px 0 0 $steel-400-t8; content:''; left: 0; position: absolute; content: ''; background:$steel-050; width: 24px; top: 0; bottom: 0; }

/* z-index */
.fixed-left { z-index: 1; }
.tp-grid-headers .fixed-left { z-index:2; }

/* main-grid-col-sizes */
[data-col="Job Number"] { flex: 0 0 132px; }
[data-col="App ID"] { flex: 0 0 112px; }
[data-col="Client"] { flex: 0 0 182px; }
[data-col="Status"] { flex: 0 0 187px; }
[data-col="PM Owner"] { flex: 0 0 167px; }
[data-col="Last Updated"] { flex: 0 0 162px; }
[data-col="Date Created"] { flex: 0 0 152px; }
[data-col="Final Deadline"] { flex: 0 0 152px; }
[data-col="Note"] { flex: 0 0 220px; }
[data-col="Source"] { flex: 0 0 100px; }
[data-col="Target"] { flex: 0 0 102px; }
[data-col="Words"] { flex: 0 0 102px; }
[data-col="Tags"] { flex: 0 0 102px; }
[data-col="Prod Team"] { flex: 0 0 244px; }
[data-col="empty"] { flex: 1 1 auto; min-width:60px; }
[data-group].new [data-row]:first-of-type [data-col="Last Updated"] { position:relative; }
[data-group].new [data-row]:first-of-type [data-col="Last Updated"] > .inner:before { margin-left:8px; content:''; background:$blue; border-radius:10px; height:10px; width:10px; left:0; position:absolute; top:50%; transform:translateY(-50%); }



