
@mixin fsize-headline { font-size: rem(35.0769078); }
@mixin fsize-headline-q1 { font-size: rem(40.76360248); }
@mixin fsize-headline-q2 { font-size: rem(47.37222838); }
@mixin fsize-headline-q3 { font-size: rem(55.05224969); }

@mixin fsize-subheadline { font-size: rem(31.888098); }
@mixin fsize-subheadline-q1 { font-size: rem(36.27089437); }
@mixin fsize-subheadline-q2 { font-size: rem(41.25607549); }
@mixin fsize-subheadline-q3 { font-size: rem(46.92643493); }

@mixin fsize1 { font-size: rem(28.98918); }
@mixin fsize1-q1 { font-size: rem(32.27334431); }
@mixin fsize1-q2 { font-size: rem(35.92956934); }
@mixin fsize1-q3 { font-size: rem(40.0000056); }

@mixin fsize2 { font-size: rem(26.3538); }
@mixin fsize2-q1 { font-size: rem(28.7163791); }
@mixin fsize2-q2 { font-size: rem(31.29075992); }
@mixin fsize2-q3 { font-size: rem(34.09593015); }

@mixin fsize3 { font-size: rem(23.958); }
@mixin fsize3-q1 { font-size: rem(25.55144025); }
@mixin fsize3-q2 { font-size: rem(27.25085978); }
@mixin fsize3-q3 { font-size: rem(29.06330726); }

@mixin fsize4 { font-size: rem(21.78); }
@mixin fsize4-q1 { font-size: rem(22.73532106); }
@mixin fsize4-q2 { font-size: rem(23.73254471); }
@mixin fsize4-q3 { font-size: rem(24.77350889); }

@mixin fsize5 { font-size: rem(19.8); }
@mixin fsize5-q1 { font-size: rem(20.22957684); }
@mixin fsize5-q2 { font-size: rem(20.66847369); }
@mixin fsize5-q3 { font-size: rem(21.11689276); }

@mixin fsize6 { font-size: rem(18); }
@mixin fsize6-q1 { font-size: rem(18); }
@mixin fsize6-q2 { font-size: rem(18); }
@mixin fsize6-q3 { font-size: rem(18); }

@mixin fsize7 { font-size: rem(16); }
@mixin fsize7-q1 { font-size: rem(16); }
@mixin fsize7-q2 { font-size: rem(16); }
@mixin fsize7-q3 { font-size: rem(16); }

@mixin fsize-small { font-size: rem(14); }
@mixin fsize-small-q1 { font-size: rem(14); }
@mixin fsize-small-q2 { font-size: rem(14); }
@mixin fsize-small-q3 { font-size: rem(14); }

