@mixin lh-headline-b-tight {
  line-height: rem(32);
}
@mixin lh-headline-b-default {
  line-height: rem(40);
}
@mixin lh-headline-b-loose {
  line-height: rem(48);
}
@mixin lh-headline-b-tight-q1 {
  line-height: rem(40);
}
@mixin lh-headline-b-default-q1 {
  line-height: rem(48);
}
@mixin lh-headline-b-loose-q1 {
  line-height: rem(56);
}
@mixin lh-headline-b-tight-q2 {
  line-height: rem(40);
}
@mixin lh-headline-b-default-q2 {
  line-height: rem(48);
}
@mixin lh-headline-b-loose-q2 {
  line-height: rem(56);
}
@mixin lh-headline-b-tight-q3 {
  line-height: rem(48);
}
@mixin lh-headline-b-default-q3 {
  line-height: rem(56);
}
@mixin lh-headline-b-loose-q3 {
  line-height: rem(64);
}

@mixin lh-subheadline-b-tight {
  line-height: rem(32);
}
@mixin lh-subheadline-b-default {
  line-height: rem(40);
}
@mixin lh-subheadline-b-loose {
  line-height: rem(48);
}
@mixin lh-subheadline-b-tight-q1 {
  line-height: rem(32);
}
@mixin lh-subheadline-b-default-q1 {
  line-height: rem(40);
}
@mixin lh-subheadline-b-loose-q1 {
  line-height: rem(48);
}
@mixin lh-subheadline-b-tight-q2 {
  line-height: rem(32);
}
@mixin lh-subheadline-b-default-q2 {
  line-height: rem(40);
}
@mixin lh-subheadline-b-loose-q2 {
  line-height: rem(48);
}
@mixin lh-subheadline-b-tight-q3 {
  line-height: rem(48);
}
@mixin lh-subheadline-b-default-q3 {
  line-height: rem(56);
}
@mixin lh-subheadline-b-loose-q3 {
  line-height: rem(64);
}

@mixin lh1-b-tight {
  line-height: rem(32);
}
@mixin lh1-b-default {
  line-height: rem(40);
}
@mixin lh1-b-loose {
  line-height: rem(48);
}
@mixin lh1-b-tight-q1 {
  line-height: rem(32);
}
@mixin lh1-b-default-q1 {
  line-height: rem(40);
}
@mixin lh1-b-loose-q1 {
  line-height: rem(48);
}
@mixin lh1-b-tight-q2 {
  line-height: rem(32);
}
@mixin lh1-b-default-q2 {
  line-height: rem(40);
}
@mixin lh1-b-loose-q2 {
  line-height: rem(48);
}
@mixin lh1-b-tight-q3 {
  line-height: rem(40);
}
@mixin lh1-b-default-q3 {
  line-height: rem(48);
}
@mixin lh1-b-loose-q3 {
  line-height: rem(56);
}

@mixin lh2-b-tight {
  line-height: rem(24);
}
@mixin lh2-b-default {
  line-height: rem(32);
}
@mixin lh2-b-loose {
  line-height: rem(40);
}
@mixin lh2-b-tight-q1 {
  line-height: rem(32);
}
@mixin lh2-b-default-q1 {
  line-height: rem(40);
}
@mixin lh2-b-loose-q1 {
  line-height: rem(48);
}
@mixin lh2-b-tight-q2 {
  line-height: rem(32);
}
@mixin lh2-b-default-q2 {
  line-height: rem(40);
}
@mixin lh2-b-loose-q2 {
  line-height: rem(48);
}
@mixin lh2-b-tight-q3 {
  line-height: rem(32);
}
@mixin lh2-b-default-q3 {
  line-height: rem(40);
}
@mixin lh2-b-loose-q3 {
  line-height: rem(48);
}

@mixin lh3-b-tight {
  line-height: rem(24);
}
@mixin lh3-b-default {
  line-height: rem(32);
}
@mixin lh3-b-loose {
  line-height: rem(40);
}
@mixin lh3-b-tight-q1 {
  line-height: rem(24);
}
@mixin lh3-b-default-q1 {
  line-height: rem(32);
}
@mixin lh3-b-loose-q1 {
  line-height: rem(40);
}
@mixin lh3-b-tight-q2 {
  line-height: rem(24);
}
@mixin lh3-b-default-q2 {
  line-height: rem(32);
}
@mixin lh3-b-loose-q2 {
  line-height: rem(40);
}
@mixin lh3-b-tight-q3 {
  line-height: rem(32);
}
@mixin lh3-b-default-q3 {
  line-height: rem(40);
}
@mixin lh3-b-loose-q3 {
  line-height: rem(48);
}

@mixin lh4-b-tight {
  line-height: rem(24);
}
@mixin lh4-b-default {
  line-height: rem(32);
}
@mixin lh4-b-loose {
  line-height: rem(40);
}
@mixin lh4-b-tight-q1 {
  line-height: rem(24);
}
@mixin lh4-b-default-q1 {
  line-height: rem(32);
}
@mixin lh4-b-loose-q1 {
  line-height: rem(40);
}
@mixin lh4-b-tight-q2 {
  line-height: rem(24);
}
@mixin lh4-b-default-q2 {
  line-height: rem(32);
}
@mixin lh4-b-loose-q2 {
  line-height: rem(40);
}
@mixin lh4-b-tight-q3 {
  line-height: rem(24);
}
@mixin lh4-b-default-q3 {
  line-height: rem(32);
}
@mixin lh4-b-loose-q3 {
  line-height: rem(40);
}

@mixin lh5-b-tight {
  line-height: rem(24);
}
@mixin lh5-b-default {
  line-height: rem(32);
}
@mixin lh5-b-loose {
  line-height: rem(40);
}
@mixin lh5-b-tight-q1 {
  line-height: rem(24);
}
@mixin lh5-b-default-q1 {
  line-height: rem(32);
}
@mixin lh5-b-loose-q1 {
  line-height: rem(40);
}
@mixin lh5-b-tight-q2 {
  line-height: rem(24);
}
@mixin lh5-b-default-q2 {
  line-height: rem(32);
}
@mixin lh5-b-loose-q2 {
  line-height: rem(40);
}
@mixin lh5-b-tight-q3 {
  line-height: rem(24);
}
@mixin lh5-b-default-q3 {
  line-height: rem(32);
}
@mixin lh5-b-loose-q3 {
  line-height: rem(40);
}

@mixin lh6-b-tight {
  line-height: rem(24);
}
@mixin lh6-b-default {
  line-height: rem(24);
}
@mixin lh6-b-loose {
  line-height: rem(32);
}
@mixin lh6-b-tight-q1 {
  line-height: rem(24);
}
@mixin lh6-b-default-q1 {
  line-height: rem(24);
}
@mixin lh6-b-loose-q1 {
  line-height: rem(32);
}
@mixin lh6-b-tight-q2 {
  line-height: rem(24);
}
@mixin lh6-b-default-q2 {
  line-height: rem(24);
}
@mixin lh6-b-loose-q2 {
  line-height: rem(32);
}
@mixin lh6-b-tight-q3 {
  line-height: rem(24);
}
@mixin lh6-b-default-q3 {
  line-height: rem(24);
}
@mixin lh6-b-loose-q3 {
  line-height: rem(32);
}

@mixin lh7-b-tight {
  line-height: rem(24);
}
@mixin lh7-b-default {
  line-height: rem(24);
}
@mixin lh7-b-loose {
  line-height: rem(32);
}
@mixin lh7-b-tight-q1 {
  line-height: rem(24);
}
@mixin lh7-b-default-q1 {
  line-height: rem(24);
}
@mixin lh7-b-loose-q1 {
  line-height: rem(32);
}
@mixin lh7-b-tight-q2 {
  line-height: rem(24);
}
@mixin lh7-b-default-q2 {
  line-height: rem(24);
}
@mixin lh7-b-loose-q2 {
  line-height: rem(32);
}
@mixin lh7-b-tight-q3 {
  line-height: rem(24);
}
@mixin lh7-b-default-q3 {
  line-height: rem(24);
}
@mixin lh7-b-loose-q3 {
  line-height: rem(32);
}

@mixin lh-small-b-tight {
  line-height: rem(16);
}
@mixin lh-small-b-default {
  line-height: rem(16);
}
@mixin lh-small-b-loose {
  line-height: rem(24);
}
@mixin lh-small-b-tight-q1 {
  line-height: rem(16);
}
@mixin lh-small-b-default-q1 {
  line-height: rem(16);
}
@mixin lh-small-b-loose-q1 {
  line-height: rem(24);
}
@mixin lh-small-b-tight-q2 {
  line-height: rem(16);
}
@mixin lh-small-b-default-q2 {
  line-height: rem(16);
}
@mixin lh-small-b-loose-q2 {
  line-height: rem(24);
}
@mixin lh-small-b-tight-q3 {
  line-height: rem(16);
}
@mixin lh-small-b-default-q3 {
  line-height: rem(16);
}
@mixin lh-small-b-loose-q3 {
  line-height: rem(24);
}

@mixin lh-headline-tight {
  line-height: 0.9498972665;
}
@mixin lh-headline-default {
  line-height: 1.13987672;
}
@mixin lh-headline-loose {
  line-height: 1.367852064;
}
@mixin lh-headline-tight-q1 {
  line-height: 0.9301866597;
}
@mixin lh-headline-default-q1 {
  line-height: 1.116223992;
}
@mixin lh-headline-loose-q1 {
  line-height: 1.33946879;
}
@mixin lh-headline-tight-q2 {
  line-height: 0.9108850529;
}
@mixin lh-headline-default-q2 {
  line-height: 1.093062064;
}
@mixin lh-headline-loose-q2 {
  line-height: 1.311674476;
}
@mixin lh-headline-tight-q3 {
  line-height: 0.8919839594;
}
@mixin lh-headline-default-q3 {
  line-height: 1.070380751;
}
@mixin lh-headline-loose-q3 {
  line-height: 1.284456901;
}

@mixin lh-subheadline-tight {
  line-height: 0.9878931572;
}
@mixin lh-subheadline-default {
  line-height: 1.185471789;
}
@mixin lh-subheadline-loose {
  line-height: 1.422566146;
}
@mixin lh-subheadline-tight-q1 {
  line-height: 0.9702963085;
}
@mixin lh-subheadline-default-q1 {
  line-height: 1.16435557;
}
@mixin lh-subheadline-loose-q1 {
  line-height: 1.397226684;
}
@mixin lh-subheadline-tight-q2 {
  line-height: 0.9530129037;
}
@mixin lh-subheadline-default-q2 {
  line-height: 1.143615484;
}
@mixin lh-subheadline-loose-q2 {
  line-height: 1.372338581;
}
@mixin lh-subheadline-tight-q3 {
  line-height: 0.9360373596;
}
@mixin lh-subheadline-default-q3 {
  line-height: 1.123244831;
}
@mixin lh-subheadline-loose-q3 {
  line-height: 1.347893798;
}

@mixin lh1-tight {
  line-height: 1.027408883;
}
@mixin lh1-default {
  line-height: 1.23289066;
}
@mixin lh1-loose {
  line-height: 1.479468792;
}
@mixin lh1-tight-q1 {
  line-height: 1.012135485;
}
@mixin lh1-default-q1 {
  line-height: 1.214562582;
}
@mixin lh1-loose-q1 {
  line-height: 1.457475099;
}
@mixin lh1-tight-q2 {
  line-height: 0.9970891405;
}
@mixin lh1-default-q2 {
  line-height: 1.196506969;
}
@mixin lh1-loose-q2 {
  line-height: 1.435808362;
}
@mixin lh1-tight-q3 {
  line-height: 0.9822664738;
}
@mixin lh1-default-q3 {
  line-height: 1.178719769;
}
@mixin lh1-loose-q3 {
  line-height: 1.414463722;
}

@mixin lh2-tight {
  line-height: 1.068505239;
}
@mixin lh2-default {
  line-height: 1.282206287;
}
@mixin lh2-loose {
  line-height: 1.538647544;
}
@mixin lh2-tight-q1 {
  line-height: 1.055778767;
}
@mixin lh2-default-q1 {
  line-height: 1.266934521;
}
@mixin lh2-loose-q1 {
  line-height: 1.520321425;
}
@mixin lh2-tight-q2 {
  line-height: 1.043203875;
}
@mixin lh2-default-q2 {
  line-height: 1.25184465;
}
@mixin lh2-loose-q2 {
  line-height: 1.50221358;
}
@mixin lh2-tight-q3 {
  line-height: 1.030778757;
}
@mixin lh2-default-q3 {
  line-height: 1.236934508;
}
@mixin lh2-loose-q3 {
  line-height: 1.48432141;
}

@mixin lh3-tight {
  line-height: 1.111245448;
}
@mixin lh3-default {
  line-height: 1.333494538;
}
@mixin lh3-loose {
  line-height: 1.600193446;
}
@mixin lh3-tight-q1 {
  line-height: 1.101303948;
}
@mixin lh3-default-q1 {
  line-height: 1.321564737;
}
@mixin lh3-loose-q1 {
  line-height: 1.585877685;
}
@mixin lh3-tight-q2 {
  line-height: 1.091451387;
}
@mixin lh3-default-q2 {
  line-height: 1.309741664;
}
@mixin lh3-loose-q2 {
  line-height: 1.571689997;
}
@mixin lh3-tight-q3 {
  line-height: 1.081686969;
}
@mixin lh3-default-q3 {
  line-height: 1.298024363;
}
@mixin lh3-loose-q3 {
  line-height: 1.557629236;
}

@mixin lh4-tight {
  line-height: 1.155695266;
}
@mixin lh4-default {
  line-height: 1.38683432;
}
@mixin lh4-loose {
  line-height: 1.664201183;
}
@mixin lh4-tight-q1 {
  line-height: 1.148792174;
}
@mixin lh4-default-q1 {
  line-height: 1.378550609;
}
@mixin lh4-loose-q1 {
  line-height: 1.654260731;
}
@mixin lh4-tight-q2 {
  line-height: 1.141930315;
}
@mixin lh4-default-q2 {
  line-height: 1.370316378;
}
@mixin lh4-loose-q2 {
  line-height: 1.644379653;
}
@mixin lh4-tight-q3 {
  line-height: 1.135109442;
}
@mixin lh4-default-q3 {
  line-height: 1.362131331;
}
@mixin lh4-loose-q3 {
  line-height: 1.634557597;
}

@mixin lh5-tight {
  line-height: 1.201923077;
}
@mixin lh5-default {
  line-height: 1.442307692;
}
@mixin lh5-loose {
  line-height: 1.730769231;
}
@mixin lh5-tight-q1 {
  line-height: 1.198328093;
}
@mixin lh5-default-q1 {
  line-height: 1.437993711;
}
@mixin lh5-loose-q1 {
  line-height: 1.725592453;
}
@mixin lh5-tight-q2 {
  line-height: 1.194743861;
}
@mixin lh5-default-q2 {
  line-height: 1.433692633;
}
@mixin lh5-loose-q2 {
  line-height: 1.72043116;
}
@mixin lh5-tight-q3 {
  line-height: 1.19117035;
}
@mixin lh5-default-q3 {
  line-height: 1.42940442;
}
@mixin lh5-loose-q3 {
  line-height: 1.715285304;
}

@mixin lh6-tight {
  line-height: 1.25;
}
@mixin lh6-default {
  line-height: 1.5;
}
@mixin lh6-loose {
  line-height: 1.75;
}
@mixin lh6-tight-q1 {
  line-height: 1.25;
}
@mixin lh6-default-q1 {
  line-height: 1.5;
}
@mixin lh6-loose-q1 {
  line-height: 1.75;
}
@mixin lh6-tight-q2 {
  line-height: 1.25;
}
@mixin lh6-default-q2 {
  line-height: 1.5;
}
@mixin lh6-loose-q2 {
  line-height: 1.75;
}
@mixin lh6-tight-q3 {
  line-height: 1.25;
}
@mixin lh6-default-q3 {
  line-height: 1.5;
}
@mixin lh6-loose-q3 {
  line-height: 1.75;
}

@mixin lh7-tight {
  line-height: 1.25;
}
@mixin lh7-default {
  line-height: 1.5;
}
@mixin lh7-loose {
  line-height: 1.75;
}
@mixin lh7-tight-q1 {
  line-height: 1.25;
}
@mixin lh7-default-q1 {
  line-height: 1.5;
}
@mixin lh7-loose-q1 {
  line-height: 1.75;
}
@mixin lh7-tight-q2 {
  line-height: 1.25;
}
@mixin lh7-default-q2 {
  line-height: 1.5;
}
@mixin lh7-loose-q2 {
  line-height: 1.75;
}
@mixin lh7-tight-q3 {
  line-height: 1.25;
}
@mixin lh7-default-q3 {
  line-height: 1.5;
}
@mixin lh7-loose-q3 {
  line-height: 1.75;
}

@mixin lh-small-tight {
  line-height: 1.25;
}
@mixin lh-small-default {
  line-height: 1.5;
}
@mixin lh-small-loose {
  line-height: 1.75;
}
@mixin lh-small-tight-q1 {
  line-height: 1.25;
}
@mixin lh-small-default-q1 {
  line-height: 1.5;
}
@mixin lh-small-loose-q1 {
  line-height: 1.75;
}
@mixin lh-small-tight-q2 {
  line-height: 1.25;
}
@mixin lh-small-default-q2 {
  line-height: 1.5;
}
@mixin lh-small-loose-q2 {
  line-height: 1.75;
}
@mixin lh-small-tight-q3 {
  line-height: 1.25;
}
@mixin lh-small-default-q3 {
  line-height: 1.5;
}
@mixin lh-small-loose-q3 {
  line-height: 1.75;
}

