@mixin f-headline {
  font-kerning: normal;
  // @include ls-headline-default;
  @include lh-headline-default;
  @include fsize-headline;
  //  &.ls-tight { @include ls-headline-tight; }
  // ls-loose { @include ls-headline-loose; }
  &.lh-tight {
    @include lh-headline-tight;
  }
  &.lh-loose {
    @include lh-headline-loose;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh-headline-b-tight;
    }
    &.lh-loose {
      @include lh-headline-b-loose;
    }
    @include lh-headline-b-default;
  }
}

@mixin f-subheadline {
  font-kerning: normal;
  //  @include ls-subheadline-default;
  @include lh-subheadline-default;
  @include fsize-subheadline;
  //  &.ls-tight { @include ls-subheadline-tight; }
  //  &.ls-loose { @include ls-subheadline-loose; }
  &.lh-tight {
    @include lh-subheadline-tight;
  }
  &.lh-loose {
    @include lh-subheadline-loose;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh-subheadline-b-tight;
    }
    &.lh-loose {
      @include lh-subheadline-b-loose;
    }
    @include lh-subheadline-b-default;
  }
}

@mixin f1 {
  font-kerning: normal;
  //  @include ls1-default;
  @include lh1-default;
  @include fsize1;
  // ls-tight { @include ls1-tight; }
  // ls-loose { @include ls1-loose; }
  &.lh-tight {
    @include lh1-tight;
  }
  &.lh-loose {
    @include lh1-loose;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh1-b-tight;
    }
    &.lh-loose {
      @include lh1-b-loose;
    }
    @include lh1-b-default;
  }
}

@mixin f2 {
  font-kerning: normal;
  //  @include ls2-default;
  @include lh2-default;
  @include fsize2;
  // ls-tight { @include ls2-tight; }
  // ls-loose { @include ls2-loose; }
  &.lh-tight {
    @include lh2-tight;
  }
  &.lh-loose {
    @include lh2-loose;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh2-b-tight;
    }
    &.lh-loose {
      @include lh2-b-loose;
    }
    @include lh2-b-default;
  }
}

@mixin f3 {
  font-kerning: normal;
  //  @include ls3-default;
  @include lh3-default;
  @include fsize3;
  // ls-tight { @include ls3-tight; }
  // ls-loose { @include ls3-loose; }
  &.lh-tight {
    @include lh3-tight;
  }
  &.lh-loose {
    @include lh3-loose;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh3-b-tight;
    }
    &.lh-loose {
      @include lh3-b-loose;
    }
    @include lh3-b-default;
  }
}

@mixin f4 {
  font-kerning: normal;
  //  @include ls4-default;
  @include lh4-default;
  @include fsize4;
  // ls-tight { @include ls4-tight; }
  // ls-loose { @include ls4-loose; }
  &.lh-tight {
    @include lh4-tight;
  }
  &.lh-loose {
    @include lh4-loose;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh4-b-tight;
    }
    &.lh-loose {
      @include lh4-b-loose;
    }
    @include lh4-b-default;
  }
}

@mixin f5 {
  font-kerning: normal;
  //  @include ls5-default;
  @include lh5-default;
  @include fsize5;
  // ls-tight { @include ls5-tight; }
  // ls-loose { @include ls5-loose; }
  &.lh-tight {
    @include lh5-tight;
  }
  &.lh-loose {
    @include lh5-loose;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh5-b-tight;
    }
    &.lh-loose {
      @include lh5-b-loose;
    }
    @include lh5-b-default;
  }
}

@mixin f6 {
  font-kerning: normal;
  //  @include ls6-default;
  //  @include lh6-default;
  @include fsize6;
  // ls-tight { @include ls6-tight; }
  // ls-loose { @include ls6-loose; }
}

@mixin f7 {
  font-kerning: normal;
  //  @include ls7-default;
  //  @include lh7-default;
  @include fsize7;
  // ls-tight { @include ls7-tight; }
  // ls-loose { @include ls7-loose; }
}

@mixin f-small {
  font-kerning: normal;
  //  @include ls-small-default;
  @include lh-small-default;
  @include fsize-small;
  // ls-tight { @include ls-small-tight; }
  // ls-loose { @include ls-small-loose; }
  // lh-tight { @include lh-small-tight; }
  // lh-loose { @include lh-small-loose; }
  .force-baseline & {
    &.lh-tight {
      @include lh-small-b-tight;
    }
    &.lh-loose {
      @include lh-small-b-loose;
    }
    @include lh-small-b-default;
  }
}

