@mixin f-headline-q2 {
//  @include ls-headline-default-q2;
  @include lh-headline-default-q2;
  @include fsize-headline-q2;
// &.ls-tight { @include ls-headline-tight-q2; }
// &.ls-loose { @include ls-headline-loose-q2; }
  &.lh-tight {
    @include lh-headline-tight-q2;
  }
  &.lh-loose {
    @include lh-headline-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh-headline-b-tight-q2;
    }
    &.lh-loose {
      @include lh-headline-b-loose-q2;
    }
    @include lh-headline-b-default-q2;
  }
}

@mixin f-subheadline-q2 {
//  @include ls-subheadline-default-q2;
  @include lh-subheadline-default-q2;
  @include fsize-subheadline-q2;
// &.ls-tight { @include ls-subheadline-tight-q2; }
// &.ls-loose { @include ls-subheadline-loose-q2; }
  &.lh-tight {
    @include lh-subheadline-tight-q2;
  }
  &.lh-loose {
    @include lh-subheadline-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh-subheadline-b-tight-q2;
    }
    &.lh-loose {
      @include lh-subheadline-b-loose-q2;
    }
    @include lh-subheadline-b-default-q2;
  }
}

@mixin f1-q2 {
//  @include ls1-default-q2;
  @include lh1-default-q2;
  @include fsize1-q2;
// &.ls-tight { @include ls1-tight-q2; }
// &.ls-loose { @include ls1-loose-q2; }
  &.lh-tight {
    @include lh1-tight-q2;
  }
  &.lh-loose {
    @include lh1-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh1-b-tight-q2;
    }
    &.lh-loose {
      @include lh1-b-loose-q2;
    }
    @include lh1-b-default-q2;
  }
}

@mixin f2-q2 {
//  @include ls2-default-q2;
  @include lh2-default-q2;
  @include fsize2-q2;
// &.ls-tight { @include ls2-tight-q2; }
// &.ls-loose { @include ls2-loose-q2; }
  &.lh-tight {
    @include lh2-tight-q2;
  }
  &.lh-loose {
    @include lh2-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh2-b-tight-q2;
    }
    &.lh-loose {
      @include lh2-b-loose-q2;
    }
    @include lh2-b-default-q2;
  }
}

@mixin f3-q2 {
//  @include ls3-default-q2;
  @include lh3-default-q2;
  @include fsize3-q2;
// &.ls-tight { @include ls3-tight-q2; }
// &.ls-loose { @include ls3-loose-q2; }
  &.lh-tight {
    @include lh3-tight-q2;
  }
  &.lh-loose {
    @include lh3-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh3-b-tight-q2;
    }
    &.lh-loose {
      @include lh3-b-loose-q2;
    }
    @include lh3-b-default-q2;
  }
}

@mixin f4-q2 {
//  @include ls4-default-q2;
  @include lh4-default-q2;
  @include fsize4-q2;
// &.ls-tight { @include ls4-tight-q2; }
// &.ls-loose { @include ls4-loose-q2; }
  &.lh-tight {
    @include lh4-tight-q2;
  }
  &.lh-loose {
    @include lh4-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh4-b-tight-q2;
    }
    &.lh-loose {
      @include lh4-b-loose-q2;
    }
    @include lh4-b-default-q2;
  }
}

@mixin f5-q2 {
//  @include ls5-default-q2;
  @include lh5-default-q2;
  @include fsize5-q2;
// &.ls-tight { @include ls5-tight-q2; }
// &.ls-loose { @include ls5-loose-q2; }
  &.lh-tight {
    @include lh5-tight-q2;
  }
  &.lh-loose {
    @include lh5-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh5-b-tight-q2;
    }
    &.lh-loose {
      @include lh5-b-loose-q2;
    }
    @include lh5-b-default-q2;
  }
}

@mixin f6-q2 {
//  @include ls6-default-q2;
  @include fsize6-q2;
// &.ls-tight { @include ls6-tight-q2; }
// &.ls-loose { @include ls6-loose-q2; }
}

@mixin f7-q2 {
//  @include ls7-default-q2;
  @include fsize7-q2;
// &.ls-tight { @include ls7-tight-q2; }
// &.ls-loose { @include ls7-loose-q2; }
}

@mixin f-small-q2 {
//  @include ls-small-default-q2;
  @include lh-small-default-q2;
  @include fsize-small-q2;
// &.ls-tight { @include ls-small-tight-q2; }
// &.ls-loose { @include ls-small-loose-q2; }
  &.lh-tight {
    @include lh-small-tight-q2;
  }
  &.lh-loose {
    @include lh-small-loose-q2;
  }
  .force-baseline & {
    &.lh-tight {
      @include lh-small-b-tight-q2;
    }
    &.lh-loose {
      @include lh-small-b-loose-q2;
    }
    @include lh-small-b-default-q2;
  }
}


