// var-box-shadow



$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default;
$box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !default;
$box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !default;
$box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !default;
$box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !default;



@mixin shadow-1 { box-shadow: $box-shadow-1; }
@mixin shadow-2 { box-shadow: $box-shadow-2; }
@mixin shadow-3 { box-shadow: $box-shadow-3; }
@mixin shadow-4 { box-shadow: $box-shadow-4; }
@mixin shadow-5 { box-shadow: $box-shadow-5; }

 


// transition: all 0.3s cubic-bezier(.25,.8,.25,1);

