// var-border-radius
$border-radius-none: 0 !default;
$border-radius-1: rem(1) !default;
$border-radius-2: rem(2) !default;
$border-radius-3: rem(3) !default;
$border-radius-4: rem(4) !default;
$border-radius-5: rem(5) !default;
$border-radius-6: rem(6) !default;
$border-radius-7: rem(7) !default;
$border-radius-8: rem(8) !default;
$border-radius-9: rem(9) !default;
$border-radius-10: rem(10) !default;
$border-radius-11: rem(11) !default;
$border-radius-12: rem(12) !default;
$border-radius-13: rem(13) !default;
$border-radius-14: rem(14) !default;
$border-radius-15: rem(15) !default;
$border-radius-16: rem(16) !default;
$border-radius-17: rem(17) !default;
$border-radius-18: rem(18) !default;
$border-radius-19: rem(19) !default;
$border-radius-20: rem(20) !default;
$border-radius-21: rem(21) !default;
$border-radius-22: rem(22) !default;
$border-radius-23: rem(23) !default;
$border-radius-24: rem(24) !default;
$border-radius-circle: 100% !default;
$border-radius-pill: 9999px !default;



@mixin br0 { border-radius: $border-radius-none }

@mixin br1 { border-radius: $border-radius-1; }
@mixin br2 { border-radius: $border-radius-2; }
@mixin br3 { border-radius: $border-radius-3; }
@mixin br4 { border-radius: $border-radius-4; }
@mixin br5 { border-radius: $border-radius-5; }
@mixin br6 { border-radius: $border-radius-6; }
@mixin br7 { border-radius: $border-radius-7; }
@mixin br8 { border-radius: $border-radius-8; }
@mixin br9 { border-radius: $border-radius-9; }
@mixin br10 { border-radius: $border-radius-10; }
@mixin br11 { border-radius: $border-radius-11; }
@mixin br12 { border-radius: $border-radius-12; }
@mixin br13 { border-radius: $border-radius-13; }
@mixin br14 { border-radius: $border-radius-14; }
@mixin br15 { border-radius: $border-radius-15; }
@mixin br16 { border-radius: $border-radius-16; }
@mixin br17 { border-radius: $border-radius-17; }
@mixin br18 { border-radius: $border-radius-18; }
@mixin br19 { border-radius: $border-radius-19; }
@mixin br20 { border-radius: $border-radius-20; }
@mixin br21 { border-radius: $border-radius-21; }
@mixin br22 { border-radius: $border-radius-22; }
@mixin br23 { border-radius: $border-radius-23; }
@mixin br24 { border-radius: $border-radius-24; }



@mixin br-100 { border-radius: $border-radius-circle; }
@mixin br-pill { border-radius: $border-radius-pill; }
@mixin br--bottom { 
	border-top-left-radius: 0;
	border-top-right-radius: 0;
 }
@mixin br--top { 
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
 }
@mixin br--right { 
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
 }
@mixin br--left { 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
 }






