%colors-th-default {
  --theme-white: #{$white};
  --theme-grey-050: #{$grey-050};
  --theme-grey-100: #{$grey-100};
  --theme-grey-150: #{$grey-150};
  --theme-grey-200: #{$grey-200};
  --theme-grey-250: #{$grey-250};
  --theme-grey-300: #{$grey-300};
  --theme-grey-350: #{$grey-350};
  --theme-grey-400: #{$grey-400};
  --theme-grey-450: #{$grey-450};
  --theme-grey: #{$grey};
  --theme-grey-550: #{$grey-550};
  --theme-grey-600: #{$grey-600};
  --theme-grey-650: #{$grey-650};
  --theme-grey-700: #{$grey-700};
  --theme-grey-750: #{$grey-750};
  --theme-grey-800: #{$grey-800};
  --theme-grey-850: #{$grey-850};
  --theme-grey-900: #{$grey-900};
  --theme-grey-950: #{$grey-950};
  --theme-brand-dark: #{$brand-dark};
  
}

%colors-th-darkmode {
  --theme-white: #{$grey-950};
  --theme-grey-050: #{$grey-900};
  --theme-grey-100: #{$grey-850};
  --theme-grey-150: #{$grey-800};
  --theme-grey-200: #{$grey-750};
  --theme-grey-250: #{$grey-700};
  --theme-grey-300: #{$grey-650};
  --theme-grey-350: #{$grey-600};
  --theme-grey-400: #{$grey-550};
  --theme-grey-450: #{$grey};
  --theme-grey: #{$grey-450};
  --theme-grey-550: #{$grey-400};
  --theme-grey-600: #{$grey-350};
  --theme-grey-650: #{$grey-300};
  --theme-grey-700: #{$grey-250};
  --theme-grey-750: #{$grey-200};
  --theme-grey-800: #{$grey-150};
  --theme-grey-850: #{$grey-100};
  --theme-grey-900: #{$grey-050};
  --theme-grey-950: #{$white}; 
  --theme-brand-dark: #{$brand-dark-200};
}
