$curve: cubic-bezier(0.115, 0.065, 0.000, 1.000);
@import '../../kit.scss';
@import 'theme-colors';

:root {
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--theme-white);
  color: var(--theme-grey-850);
  font-feature-settings: "kern" on;
  text-rendering: optimizeLegibility;
  font-family: $open-sans;
//  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
nav {
  background: var(--theme-grey-050);
}
nav a {
  color: var(--theme-brand-dark-500);
}
h1 {
  color: var(--theme-brand-dark-500);
}
footer {
  border-top-color: var(--main-text-color);
}
::selection {
  //  background-color: var(--brand-dark-w3);
}
.theme-switcher {
  display: flex;
  font-size: .9em;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  max-width: 650px;
  text-align: right;
  background-color: var(--grey-150);
  border: none;
  color: var(--main-text-color);
  letter-spacing: .05em;
  text-transform: uppercase;
}
body {
  padding-left:250px;
}
nav {
  @include fs-small;
  @include ls-small;
  padding:1rem;
  position:fixed;
  height:100vh;
  width:250px;
  top:0;
  left:0;
  overflow-y:scroll;
}
main {
  //  @include bg-white-t2;
  height:100px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--th-grey-850); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--th-grey-750); 
  transition: .2s background $curve;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--th-grey-700); 
}
