.fixed-left [data-group-label] {
  flex: 0 0 24px;
}
.fixed-left [data-row-label] {
  flex: 1 1 50%;
}
.grid-body [data-group] [data-row-label] {
  color:$grey;
}
.grid-body [data-group]:hover {
  cursor:pointer;
}
.grid-body [data-group]:hover [data-row-label] {
  color:$blue;
}
.grid-body [data-row-label] {
  position:relative;
  display:block;
  height: rem(32);
  flex: 1 1 33.333333%;
}
.grid-body [data-row-label] svg {
  fill: currentColor;
}
.grid-body [data-row-label]:hover {
  color: var(--blue);
}
.grid-body [data-row-label] .check-on, .grid-body [data-row-label] .check-off {
  opacity:0;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:24px;
  height:24px;
}
.grid-body [data-row-label] .check-off {
  opacity:1;
}

