
.grid-body [data-group] [data-group-label] {
  pointer-events:none;
}
.grid-body [data-group] .fixed-left {
  box-shadow: none;
}
.grid-body [data-group].toggler [data-group-label] {
  pointer-events:auto;
}
.grid-body [data-group].toggler .fixed-left:before {
  background: $row-toggle-bg-active-closed;
}
.grid-body [data-group].toggler [data-group-label] .fixed-left:before {
  background: $row-toggle-bg-active;
}
.grid-body [data-group] [data-row]:first-of-type [data-col] {
  border-top:1px solid $border-color;
}
.grid-body [data-group]:first-of-type [data-row]:first-of-type [data-col] {
  border-top:none;
}

