%group-expanded {
  [data-row] {
    display:flex;
  }
  .fixed-left:before {
    background: $row-toggle-bg-active;
  }
  [data-row]:first-of-type .fixed-left:before {
    background: $row-toggle-bg-active-key;
  }
}
$items: 83;
@for $i from 1 through $items {
  $i: zerofill($i);
  [data-group-trigger="id-#{$i}"]:checked ~ .grid .grid-body [data-group="id-#{$i}"] {
    @extend %group-expanded;
  }
}

