.grid-body [data-group-label] {
  color:$row-toggle-color;
  position:relative;
}
.grid-body [data-group-label] .chevron-right, .grid-body [data-group-label] .chevron-down {
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  opacity:0;
  width:24px;
  height:24px;
  fill:currentColor;
}
.grid-body [data-group].toggler [data-group-label] .chevron-right {
  opacity:1;
}
.grid-body [data-group-label] {
  @include noselect;
  flex: 1 1 50%;
  display:block;
  position:relative;
}
.grid-body [data-group-label] svg {
  opacity:0;
  position:absolute;
  width:24px;
  height: 24px;
}
