%group-expanded-label {
  .chevron-down {
    opacity:1;
  }
  .chevron-right {
    opacity:0;
  }
}
$items: 83;
@for $i from 1 through $items {
  $i: zerofill($i);
  [data-group-trigger="id-#{$i}"]:checked ~ .grid .grid-body [data-group].toggler [data-group-label="id-#{$i}"] {
    @extend %group-expanded-label;
  }
}




