%row-checked-label {
  @include noselect;
  color: var(--blue);
  .check-on {
    opacity:1;
  }
  .check-off {
    opacity:0;
  }
}

$items: 83;
@for $i from 1 through $items {
  $i: zerofill($i);
  [data-row-trigger="id-#{$i}"]:checked ~ .grid .grid-body [data-row-label="id-#{$i}"] {
    @extend %row-checked-label;
  }
}




