%row-checked {
  [data-col] {
    background:$row-checked;
  }
  &:hover [data-col] {
    background: $row-checked-hover;
  }
  [data-col="empty"] {
    background:none;
  }
  &:hover [data-col="empty"] {
    background:none;
  }
}

$items: 83;
@for $i from 1 through $items {
  $i: zerofill($i);
  [data-row-trigger="id-#{$i}"]:checked ~ .grid .grid-body [data-group="id-#{$i}"] {
    @extend %row-checked;
  }
}

