@import '../kit/kit.scss';

.repo-home {
  .docs-main {
    display:table;
    margin-left:auto;
    margin-right:auto;
    .docs-content {
      border-radius:2px;
      min-height:400px;
      width:1200px;
      box-shadow:  0 0 0 1px $steel-400;
      a {
        text-decoration:none;
        color:$blue-600;
        &:hover {
          text-decoration:underline;
        }
      }

    }
    .prototypes {
      padding:$sp2;
    }

  }

}
