
@mixin mw-none { max-width: none; }


@mixin mw-10 { max-width:  10%; }
@mixin mw-20 { max-width:  20%; }
@mixin mw-25 { max-width:  25%; }
@mixin mw-30 { max-width:  30%; }
@mixin mw-33 { max-width:  33%; }
@mixin mw-34 { max-width:  34%; }
@mixin mw-40 { max-width:  40%; }
@mixin mw-50 { max-width:  50%; }
@mixin mw-60 { max-width:  60%; }
@mixin mw-70 { max-width:  70%; }
@mixin mw-75 { max-width:  75%; }
@mixin mw-80 { max-width:  80%; }
@mixin mw-90 { max-width:  90%; }
@mixin mw-100 { max-width: 100%; }

@mixin mw-third { max-width: (100% / 3); }
@mixin mw-two-thirds { max-width: (100% / 1.5); }
@mixin mw-auto { max-width: auto; }






