$code: menlo, consolas, monaco, monospace !default;
$courier: 'Courier Next', courier, monospace !default;
$georgia: georgia, serif !default;
$gotham: 'Gotham A', 'Gotham B', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$gotham-narrow: 'Gotham Narrow A', 'Gotham Narrow B', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$helvetica: 'helvetica neue', helvetica, sans-serif !default;
$lato: 'lato', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$proxima: 'proxima-nova', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$open-sans: 'open sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$work-sans: 'work sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$sans: 'open sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$serif: georgia, serif !default;
$source: 'source sans pro', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;



@mixin code { font-family: $code; }
@mixin courier { font-family: $courier; }
@mixin georgia { font-family: $georgia; }
@mixin gotham { font-family: $gotham; }
@mixin gotham-narrow { font-family: $gotham-narrow; }
@mixin helvetica { font-family: $helvetica; }
@mixin lato { font-family: $lato; }
@mixin proxima { font-family: $proxima; }
@mixin sans { font-family: $sans; }
@mixin serif { font-family: $serif; }
@mixin open-sans { font-family: $open-sans; }
@mixin work-sans { font-family: $work-sans; }
@mixin source { font-family: $source; }

@mixin family-specific-weight-500 {
  strong,
  b,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .bold
  {
    font-weight: 500;
  }
  
}

@mixin family-specific-weight-600 {
  strong,
  b,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .bold {
    font-weight: 600;
  }
  
}



