
/* details-nav */
.rnav-lockup { position:relative; z-index:0; border-bottom: 1px solid $steel-100; padding-left:32px; padding-right:32px; }
.rnav-lockup .rnav { flex: 0 1 1400px; margin-left:auto; margin-right:auto; display:flex; align-items:flex-end; }
.rnav-lockup .pertinent-info { display:none; }


/* detail-rnav-tabs */
.rnav > label { display:inline-block; cursor:pointer; @include f7; position: relative; padding-top: 2em; padding-right: 3.5em; padding-bottom: 1.2em; padding-left: 1.2em; color:#fff; text-decoration: none; font-weight:600; margin: 0 -10px -9px; }
.rnav > label:first-of-type { margin-left:0; padding-top: 2em; padding-right: 3.5em; padding-bottom: 1.2em; padding-left: 1.2em; }
.rnav > label:before { transform-origin: bottom left; content: ''; position: absolute; top: 0; right: 0; bottom: .5em; left: 0; z-index: -1; border-bottom: none; border-radius: 6px 6px 0 0; background: $steel-300; background: $steel-350; transform: perspective(8px) rotateX(3deg); }
.rnav > label:hover:before { transition: .2s background $curve; background:$brand-dark-400; }
.label-rspc, .label-rexp { display:inline-block; position: relative; padding-top: 2em; padding-right: 3.5em; padding-bottom: 1.2em; padding-left: 1.2em; color: #fff; text-decoration: none; text-transform:uppercase; margin-bottom:-9px; position:relative; z-index:1; }
.label-rspc:first-of-type, .label-rexp:first-of-type { margin-left:0; padding-top: 2em; padding-right: 3.5em; padding-bottom: 1.2em; padding-left: 1.2em; }
.label-rspc:before, .label-rexp:before { transform-origin: bottom left; content: ''; position: absolute; top: 0; right: 0; bottom: .5em; left: 0; z-index: -1; border-bottom: none; border-radius: 6px 6px 0 0; background: $red; transform: perspective(8px) rotateX(3deg); }
.label-rspc, .label-rexp { color:$red; }
.label-rspc:before, .label-rexp:before { background:#fff; }
#radio-rspc:checked ~ label[for="radio-rspc"], #radio-rexp:checked ~ label[for="radio-rexp"] { color:$brand-dark; z-index:1; }
#radio-rspc:checked ~ label[for="radio-rspc"]:before, #radio-rexp:checked ~ label[for="radio-rexp"]:before { background: $steel-050; background:#fff; border-top: 2px solid $steel-200; border-left: 1px solid $steel-200; border-right: 2px solid $steel-200; }
#radio-rspc, #radio-rexp { @include visuallyhidden; }
#radio-rspc:checked ~ .rnavblock-rspc, #radio-rexp:checked ~ .rnavblock-rexp { display:block; }



