/* detail */
.toolbar-area { padding-left:32px; padding-right:32px; padding-top:32px; padding-bottom:32px; }
.toolbar { border:1px solid $steel-200; border-radius:4px; height:40px; background:#fff; }
.pg-detail .nav-top { background: $steel-060; }
.pg-detail { background:#fff; }


