/* detail-id-area */
.id-area { display:flex; align-items:center; padding-left:32px; padding-right:32px; padding-top:24px; }
.id-area .id-area-main { margin-left:auto; margin-right:auto; display:flex; align-items:center; @include f4; width:1400px; }

/* detail-navbar */
.job-id { text-decoration:none; color:$brand-dark; font-weight:700; }
.job-id:hover { text-decoration:underline; } 
.company-name { margin-left:32px; white-space:nowrap; }
.side-info { margin-left:32px; @include f7; display:flex; align-items:flex-end; height:26px; margin-left:auto; margin-right:32px; color:#fff; margin-bottom:16px; }
.pertinent-info { display:flex; @include f7 margin-left:auto; }
.next-interim { margin-left:32px; }
.rnav-lockup { display:flex; align-items:flex-end; }
.company-name { margin-left:32px; padding-left:16px; position: relative; }
.company-name:before { top:0; bottom:0; left:-8px; position:absolute; display:block; content:''; border-left:1px solid $black-t6; }





