.navbar { background-image: -webkit-gradient(linear, left top, left bottom, from(#004c88), to(#002550)); background-image: linear-gradient(to bottom, #004c88, #002550); display:flex; align-items:center; height:48px; }


