.navbar .user-dropdown { margin-left:auto; padding-right:24px; @include f-small; font-weight:600; color: $brand-dark; }
.navbar .user-dropdown .account { display:flex; align-items:center; color: #fff; text-decoration:none; }
.navbar .user-dropdown .account svg { display:block; }
.navbar .user-dropdown .chevron-down { fill:currentColor; width:24px; }

