


@mixin z-0 { z-index: 0; }
@mixin z-1 { z-index: 1; }
@mixin z-2 { z-index: 2; }
@mixin z-3 { z-index: 3; }
@mixin z-4 { z-index: 4; }
@mixin z-5 { z-index: 5; }

@mixin z-999 { z-index: 999; }
@mixin z-9999 { z-index: 9999; }

@mixin z-max { 
  z-index: 2147483647;
 }

@mixin z-inherit { z-index: inherit; }
@mixin z-initial { z-index: initial; }
@mixin z-unset { z-index: unset; }


