.tool-button.center { justify-content: center; }
.tool-button { margin-bottom:8px; background: $steel-350; margin-left:16px; display:flex; min-width:130px; color:#fff; @include f-small; transition: .2s background $curve; height:32px; align-items:justify; }
.tool-button:first-of-type { margin-left:0; }
.tool-button .button-icon { align-items:center; display:flex; padding-left:4px; color:#fff; }
.tool-button .button-icon svg { width:24px; height:24px; fill: currentColor; }
.tool-button .button-text { align-items:center; display:flex; white-space:nowrap; padding-right:16px; padding-left:16px; }
.tool-button { border-radius: 3px; position: relative; cursor: pointer; }
.tool-button .btn.dropdown-toggle { width: 32px; margin-left:auto; border-left: 1px solid $steel-075; display:flex; align-items:center; justify-content:center; }
.tool-button .btn .dropdown-toggle:after { display: block; margin-left: .255em; vertical-align: .255em; transform:translateX(-1px); content: ""; border-bottom: 0; border-right: .3em solid transparent; border-top: .3em solid; border-left: .3em solid transparent; border-bottom-color:currentColor; }
.tool-button:hover { background: $brand-dark-400; }
.tool-button.drop-up .btn.dropdown-toggle:after { border-top: 0; border-right: .3em solid transparent; border-bottom: .3em solid; border-left: .3em solid transparent; border-bottom-color:currentColor; }

