/* bottom actions modal */
.actions { position:fixed; left:0; right:0; padding-left:32px; padding-right:32px; padding-top:16px; bottom:0; z-index:2; visibility:hidden; }
.actions .main-form { border-top:1px solid $steel-250; border-left:1px solid $steel-250; border-right:1px solid $steel-250; bottom:0; border-radius: 3px 3px 0 0; left: 50%; transform:translate(-50%); position:absolute; background: $steel-025; background:#fff; width:850px; z-index:1; max-height:1px; height:200px; box-shadow: 0 -1px 6px rgba(0,0,0,0.16), 0 -1px 6px rgba(0,0,0,0.23); box-shadow: 0 0 0 10px $steel-t8; transition: 1s max-height $curve; overflow:hidden; }
.actions .main-form h3 { display:flex; color: $brand-dark; @include f7; }
.actions .main-form h3 .unselect-all { margin-right:8px; margin-left:auto; }
.actions .main-form h3 .unselect-all a { @include f-small; display:flex; align-items:center; color: $blue; fill: currentColor; padding:6px; text-decoration:none; }
.actions .main-form h3 .unselect-all a svg.close { display:none; margin-left:8px; height:1.5em; width:1.5em; }
.actions .main-form h3 .unselect-all a:hover { text-decoration:underline; color:$blue; }
.actions .main-form h3 .submissions-selected { display:flex; align-items:center; }
.actions .main-form h3 .check-bold { fill: var(--steel-300); display:block; width:1.25em; height:1.25em; margin-right:4px; display:none; }
.actions .main-form h3 { background: $brand-dark; background: $steel-050; height:40px; border-radius: 3px 3px 0 0; display:flex; align-items:center; padding-left:16px; font-weight:600; }
.actions .veil { display:none; transition-delay: 2s; transition: .3s max-height $curve, 3s background $curve; pointer-events:none; position:absolute; left:0; right:0; height:4px; bottom:0; max-height:1px; background: rgba(255, 255, 255, 0); }
.actions .tool-button { flex: 1 1 25%; }

/* bottom-actions modal - triggering */
[data-row-trigger]:checked ~ .actions { visibility:visible; max-height:4px; overflow:visible; }
[data-row-trigger]:checked ~ .actions .main-form { max-height:140px; transition: 1s max-height $curve; }
[data-row-trigger]:checked ~ .actions .veil { background:transparentize($steel,0); max-height:160px; }

/* bottom actions modal - buttons */
.buttons-area { padding:32px; }
.buttons-lockup { display:flex; }
.bottom-panel-button { background:#fff; margin-left:16px; flex: 1 1 25%; display:flex; color:$blue; @include f-small; height:36px; align-items:justify; border: solid 2px #88b8e8; border-radius: 3px; position: relative; cursor: pointer; }
.bottom-panel-button:first-of-type { margin-left:0; }
.bottom-panel-button .button-icon { align-items:center; display:flex; padding-left:4px; padding-right:12px; }
.bottom-panel-button .button-icon svg { width:24px; height:24px; }
.bottom-panel-button .button-text { align-items:center; display:flex; white-space:nowrap; }
.btn.dropdown-toggle { width: 28px; margin-left:auto; border-left: 2px solid #88b8e8; }
.btn.dropdown-toggle:after { display: inline-block; margin-left: .255em; vertical-align: .255em; content: ""; border-top: 0; border-right: .3em solid transparent; border-bottom: .3em solid; border-left: .3em solid transparent; border-bottom-color:currentColor; }

.bottom-panel-button { width:200px; }
.actions-area { margin-left:auto; display:flex; }
.actions-area > div { margin-left:16px; }


