// Setting up the full-height page structure, with the footer fixed to the bottom:
body.custom-body-for-grid { display: flex; flex-direction: column; flex-basis:1; min-height: 100vh; height:100vh; }
body.custom-body-for-grid header, body.custom-body-for-grid footer { flex-shrink: 0; }

main { flex: 1 1 auto; display:flex; flex-direction: column; flex-basis:1; overflow:hidden; position:relative; }

.subconnect-grid-container, .tp-grid-container { flex: 1 1 auto; display:flex; flex-direction: column; flex-basis:1; overflow:hidden; } 
.tp-grid-overflow  { flex: 1 1 auto; overflow:scroll; display: flex; flex-direction: column; scroll-behavior: smooth; }
.tp-grid-overflow:after { position:absolute; z-index: 1; bottom:0; left:0; right:0; content:''; height:2px; width:100%; display:block; background:  rgba(0, 0, 0, 0.1); }

