@import 'colors-ext';
@import 'fonts-ext';
html, html[data-theme="light"] {
  @extend %colors-default;
  @extend %fonts;
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}
html[data-theme="dark"] {
  @extend %colors-darkmode;
}










